
@{
    ViewData["Title"] = "مدیریت پرتال ها";
    Layout = "~/Areas/Manage/Views/_Layout.cshtml";
}

@if (TempData["IsOk"] != null && (bool)TempData["IsOk"] == true)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <div>عملیات با موفقیت انجام شد.</div>
    </div>
}

<div class="alert alert-info">
    نام پرتال حتماً می بایست انگلیسی باشد.
</div>

<div class="alert alert-warning" role="alert">
    <strong>توجه</strong> پس از ایجاد هر پرتال باید یک ساب دامین دقیقاً با نام پرتال ایجاد نمائید.
</div>

<div class="m-3">
    <a class="btn btn-primary" role="button" href="/manage/portal/add/">ایجاد پرتال جدید</a>
</div>

<div class="card">
    <div class="card-header">
        پرتال ها
    </div>
    <div class="card-body">
        <table class="table table-bordered table-sm table-hover" id="portalsTable" style="width: 100%;">
            <thead class="thead-default">
                <tr>
                    <th>نام پرتال</th>
                    <th>کد پرتال</th>
                    <th>عنوان فارسی پرتال</th>
                    <th>توضیحات فارسی پرتال</th>
                    <th>نمایش اخبار در پرتال اصلی؟</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        var mainPortalId = @SiteSettings.Value.MainPortal.MainPortalId;
        $(document).ready(function () {
            var table = $('#portalsTable').DataTable({
                language: {
                    "url": "/statics/Datatable.Persian.json"
                },
                ordering: false,
                paging: false,
                searching: false,
                stateSave: true,
                stateDuration: 0,
                ajax: {
                    url: '/manage/portal/list/',
                    type: "POST",
                    dataSrc: ''
                },
                columnDefs: [
                {
                    "targets": 0,
                    "data": null,
                    "render": function (data, type, row, meta) {
                        if (!data.portalKey) {
                            return '<a target="_blank" href="' + data.portalLink + '" rel="noreferrer">"پرتال اصلی"</a>&nbsp;<button type="button" class="btn clipboardjs btn-outline-info btn-sm" title="کپی!" data-clipboard-text="' + data.portalLink + '"><img src="/statics/clippy.svg" width="16" alt="کپی!"></button>';
                        }
                        return '<a target="_blank" href="' + data.portalLink + '" rel="noreferrer">' + data.portalKey + '</a>&nbsp;<button type="button" class="btn clipboardjs btn-outline-info btn-sm" title="کپی!" data-clipboard-text="' + data.portalLink + '"><img src="/statics/clippy.svg" width="16" alt="کپی!"></button>';
                    }
                },
                {
                    "targets": 1,
                    "width": "5%",
                    "data": "id",
                },
                {
                    "targets": 2,
                    "data": "titleFa",
                },
                {
                    "targets": 3,
                    "data": "descriptionFa"
                },
                {
                    "width": "8%",
                    "targets": 4,
                    "data": "showInMainPortal",
                    "render": function (data, type, row, meta) {
                        if (data) {
                            return '<span>بله</span>';
                        }
                        return '<span>خیر</span>';
                    }
                },
                {
                    "width": "4%",
                    "targets": 5,
                    "data": "id",
                    "render": function (data, type, row, meta) {
                        if (data == mainPortalId) {
                            return '<a href="/manage/portal/update/' + data + '/" title="ویرایش"><i class="fa fa-edit fa-lg"></i></a>';
                        }
                        else
                        {
                            return '<a href="/manage/portal/update/' + data + '/" title="ویرایش"><i class="fa fa-edit fa-lg"></i></a>&nbsp|&nbsp;<a href="#" data-role="delete-portal" title="حذف" data-id="' + data + '"><i class="far fa-trash-alt fa-lg"></i></a>';
                        }
                    }
                }]
            });

            $('#portalsTable tbody').on('click', 'a[data-role="delete-portal"]', function () {
                var row = table.row($(this).parents('tr'));
                var data = row.data();

                swal({
                    title: 'آیا از انجام این کار اطمینان دارید؟',
                    text: "این عملیات غیرقابل بازگشت می باشد!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'بله!',
                    cancelButtonText: 'خیر',
                    focusCancel: true,
                    focusConfirm: false
                }).then((result) => {
                    if (result.value) {
                        axios.post('/manage/portal/delete/' + data.id + '/')
                            .then(function (response) {
                                row.remove().draw();
                                swal({
                                    title: 'انجام شد!',
                                    text: response.data,
                                    type: 'success',
                                    confirmButtonText: 'بستن',
                                });
                            })
                            .catch(function (error) {
                                swal({
                                    title: 'خطا!',
                                    text: 'عملیات با خطا مواجه گشت.',
                                    type: 'error',
                                    confirmButtonText: 'بستن',
                                });
                            });
                    }
                })
            });

            var clipboard = new ClipboardJS('.clipboardjs');
            clipboard.on('success', function (e) {
                swal({
                    title: 'کپی شد!',
                    type: 'success',
                    //timer: 1000,
                    confirmButtonText: 'بستن',
                    position: 'top-end',
                    showConfirmButton: false
                });

                e.clearSelection();
            });
        });
    </script>
}
