
@{
    ViewData["Title"] = "مدیریت پرتال ها";
    Layout = "~/Areas/Manage/Views/_Layout.cshtml";
}

<div class="alert alert-info" role="alert">
    <strong>توجه</strong> پس از ایجاد هر پرتال باید یک ساب دامین دقیقا با نام پرتال ایجاد شود.
</div>

<div class="m-3">
    <a class="btn btn-primary" role="button" href="/manage/portal/add/">ایجاد پرتال جدید</a>
</div>

<div class="card">
    <div class="card-header">
        پرتال ها
    </div>
    <div class="card-body">
        <table class="table table-bordered table-sm table-hover" id="portalsTable" style="width: 100%;">
            <thead class="thead-default">
                <tr>
                    <th>نام پرتال</th>
                    <th>عنوان فارسی پرتال</th>
                    <th>توضیحات فارسی پرتال</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        var mainPortalId = @SiteSettings.Value.MainPortal.MainPortalId;
        $(document).ready(function () {
            var table = $('#portalsTable').DataTable({
                language: {
                    "url": "/statics/Datatable.Persian.json"
                },
                paging: false,
                searching: false,
                ajax: {
                    url: '/manage/portal/list/',
                    dataSrc: ''
                },
                columns: [
                    { data: 'portalKey' },
                    { data: 'titleFa' },
                    { data: 'descriptionFa' }
                ],
                columnDefs: [
                {
                    "width": "4%",
                    "targets": 3,
                    "data": "id",
                    "render": function (data, type, row, meta) {
                        if (data == mainPortalId) {
                            return '<a href="/manage/portal/update/' + data + '/" title="ویرایش"><i class="fa fa-edit fa-lg"></i></a>';
                        }
                        else
                        {
                            return '<a href="/manage/portal/update/' + data + '/" title="ویرایش"><i class="fa fa-edit fa-lg"></i></a>&nbsp|&nbsp;<a href="#" data-role="delete-portal" title="حذف" data-id="' + data + '"><i class="fa fa-trash-o fa-lg"></i></a>';
                        }
                    }
                }]
            });

            $('#portalsTable tbody').on('click', 'a[data-role="delete-portal"]', function () {
                var row = table.row($(this).parents('tr'));
                var data = row.data();

                swal({
                    title: 'آیا از انجام این کار اطمینان دارید؟',
                    text: "این عملیات غیرقابل بازگشت می باشد!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'بله!',
                    cancelButtonText: 'خیر',
                    focusCancel: true,
                    focusConfirm: false
                }).then((result) => {
                    if (result.value) {
                        axios.post('/manage/portal/delete/' + data.id + '/')
                            .then(function (response) {
                                row.remove().draw();
                                swal({
                                    title: 'انجام شد!',
                                    text: response.data,
                                    type: 'success',
                                    confirmButtonText: 'بستن',
                                })
                            })
                            .catch(function (error) {
                                swal({
                                    title: 'خطا!',
                                    text: 'عملیات با خطا مواجه گشت.',
                                    type: 'error',
                                    confirmButtonText: 'بستن',
                                })
                            });
                    }
                })
            });
        });
    </script>
}
