@model ContentManagement.ViewModels.Areas.Manage.PortalViewModel
@{
    ViewData["Title"] = "ویرایش پرتال";
}


<h3>ویرایش پرتال</h3>

<div class="container">
    <div class="alert alert-info">
        نام پرتال حتماً می بایست انگلیسی باشد.
    </div>

    <div class="alert alert-info">
        <strong>توجه</strong> عنوان و توضیحات پرتال نقش بسزایی در بهینه سازی پرتال برای موتورهای جستجو (SEO) دارند.
    </div>

    <form method="post" autocomplete="off" class="needs-validation" novalidate>
        @{ await Html.RenderPartialAsync("_CustomValidationSummary"); }

        <input asp-if="@(SiteSettings.Value.MainPortal.MainPortalId != Model.Id)" type="hidden" id="InitialPortalKey" name="InitialPortalKey" value="@Model.PortalKey" />
        <div asp-if="@(SiteSettings.Value.MainPortal.MainPortalId != Model.Id)" class="form-group row">
            <label asp-for="PortalKey" class="col-sm-2 form-control-label">نام پرتال</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="PortalKey" dir="ltr" placeholder="نام پرتال (بدون فاصله و انگلیسی)">
                <span class="text-danger" asp-validation-for="PortalKey"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="TitleFa" class="col-sm-2 form-control-label">عنوان فارسی پرتال (به کار رفته در هدر)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="TitleFa" placeholder="عنوان فارسی پرتال (به کار رفته در هدر)">
                <span class="text-danger" asp-validation-for="TitleFa"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="HtmlTitleFa" class="col-sm-2 form-control-label">عنوان فارسی پرتال (به کار رفته در اچ تی ام ال)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="HtmlTitleFa" placeholder="عنوان فارسی پرتال (به کار رفته در اچ تی ام ال)">
                <span class="text-danger" asp-validation-for="HtmlTitleFa"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="DescriptionFa" class="col-sm-2 form-control-label">توضیحات فارسی پرتال</label>
            <div class="col-sm-10">
                <textarea class="form-control" asp-for="DescriptionFa" rows="3" placeholder="توضیحات فارسی پرتال"></textarea>
                <span class="text-danger" asp-validation-for="DescriptionFa"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="TitleEn" class="col-sm-2 form-control-label">عنوان انگلیسی پرتال (به کار رفته در هدر)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="TitleEn" placeholder="عنوان انگلیسی پرتال (به کار رفته در هدر)">
                <span class="text-danger" asp-validation-for="TitleEn"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="HtmlTitleEn" class="col-sm-2 form-control-label">عنوان انگلیسی پرتال (به کار رفته در اچ تی ام ال)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="HtmlTitleEn" placeholder="عنوان انگلیسی پرتال (به کار رفته در اچ تی ام ال)">
                <span class="text-danger" asp-validation-for="HtmlTitleEn"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="DescriptionEn" class="col-sm-2 form-control-label">توضیحات انگلیسی پرتال</label>
            <div class="col-sm-10">
                <textarea class="form-control" asp-for="DescriptionEn" rows="3" placeholder="توضیحات انگلیسی پرتال"></textarea>
                <span class="text-danger" asp-validation-for="DescriptionEn"></span>
            </div>
        </div>
        <div asp-if="SiteSettings.Value.MainPortal.MainPortalId != Model.Id" class="form-group row">
            <label asp-for="ShowInMainPortal" class="col-sm-2 form-control-label">نمایش اخبار در پرتال اصلی؟</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-control" asp-for="ShowInMainPortal" style="width: 2%;">
                <span class="text-danger" asp-validation-for="ShowInMainPortal"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label"></label>
            <div class="col-sm-10">
                <button class="btn btn-primary" type="submit">ذخیره</button>
                <a role="button" class="btn btn-secondary" href="/manage/portal/">بازگشت</a>
            </div>
        </div>
    </form>
</div>
