/*
This is an example of how to use the image sprite in your own CSS files
*/
.mysprite {
	background-image: url('mysprite.sprite.png');
	background-repeat: no-repeat;
	display: inline-block;
}
.mysprite.aparat {
	width: 48px;
	height: 48px;
	background-position: -10px -10px;
}
.mysprite.bale {
	width: 48px;
	height: 48px;
	background-position: -10px -68px;
}
.mysprite.bisphone {
	width: 48px;
	height: 48px;
	background-position: -10px -126px;
}
.mysprite.eitaa {
	width: 48px;
	height: 48px;
	background-position: -10px -184px;
}
.mysprite.facebook {
	width: 48px;
	height: 48px;
	background-position: -10px -242px;
}
.mysprite.gap {
	width: 48px;
	height: 48px;
	background-position: -10px -300px;
}
.mysprite.googleplus {
	width: 48px;
	height: 48px;
	background-position: -10px -358px;
}
.mysprite.igap {
	width: 48px;
	height: 48px;
	background-position: -10px -416px;
}
.mysprite.instagram {
	width: 48px;
	height: 48px;
	background-position: -10px -474px;
}
.mysprite.soroush {
	width: 48px;
	height: 48px;
	background-position: -10px -532px;
}
.mysprite.telegram {
	width: 48px;
	height: 48px;
	background-position: -10px -590px;
}
.mysprite.twitter {
	width: 48px;
	height: 48px;
	background-position: -10px -648px;
}
.mysprite.youtube {
	width: 48px;
	height: 48px;
	background-position: -10px -706px;
}
