/*
This is an example of how to use the image sprite in your own CSS files
*/
.social {
	background-image: url('social.sprite.png');
	background-repeat: no-repeat;
	display: inline-block;
}
.social.aparat {
	width: 48px;
	height: 48px;
	background-position: -10px -10px;
}
.social.bale {
	width: 48px;
	height: 48px;
	background-position: -10px -68px;
}
.social.bisphone {
	width: 48px;
	height: 48px;
	background-position: -10px -126px;
}
.social.eitaa {
	width: 48px;
	height: 48px;
	background-position: -10px -184px;
}
.social.facebook {
	width: 48px;
	height: 48px;
	background-position: -10px -242px;
}
.social.gap {
	width: 48px;
	height: 48px;
	background-position: -10px -300px;
}
.social.googleplus {
	width: 48px;
	height: 48px;
	background-position: -10px -358px;
}
.social.igap {
	width: 48px;
	height: 48px;
	background-position: -10px -416px;
}
.social.instagram {
	width: 48px;
	height: 48px;
	background-position: -10px -474px;
}
.social.soroush {
	width: 48px;
	height: 48px;
	background-position: -10px -532px;
}
.social.telegram {
	width: 48px;
	height: 48px;
	background-position: -10px -590px;
}
.social.twitter {
	width: 48px;
	height: 48px;
	background-position: -10px -648px;
}
.social.youtube {
	width: 48px;
	height: 48px;
	background-position: -10px -706px;
}
