@{
    ViewData["Title"] = SharedLocalizer["Error!"];
    this.Context.Response.StatusCode = (int)HttpStatusCode.InternalServerError;
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header">
                    <h4>@ViewData["Title"]</h4>
                </div>
                <div class="card-body text-danger text-center">
                    @SharedLocalizer["Sorry Error Occurred"]
                    <br />
                    <br />
                    <a href="/" class="btn btn-primary">@SharedLocalizer["Back To Home Page"]</a>
                    @*@if (User.IsInRole(ConstantRoles.Admin))
                        {
                            <a asp-controller="SystemLog" asp-action="Index" asp-area="@AreaConstants.IdentityArea"> مشاهده‌ی لیست خطاهای ثبت شده. </a>
                        }*@
                </div>
            </div>
        </div>
    </div>
</div>
