@{
    ViewData["Title"] = "مدیریت کاربران";
    Layout = "~/Areas/Manage/Views/_Layout.cshtml";
}

<div class="m-3">
    <a class="btn btn-primary" role="button" href="/manage/users/add/">ایجاد کاربر جدید</a>
</div>

@if (TempData["IsOk"] != null && (bool)TempData["IsOk"] == true)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <div>عملیات با موفقیت انجام شد.</div>
    </div>
}

<div class="card">
    <div class="card-header">
        کاربران
    </div>
    <div class="card-body">
        <form>
            @await Component.InvokeAsync(nameof(PortalsAndLanguages))
        </form>
        <table class="table table-bordered table-sm table-hover" id="usersTable" style="width: 100%;">
            <thead class="thead-default">
                <tr>
                    <th>نام</th>
                    <th>ایمیل</th>
                    <th>نام کاربری</th>
                    <th>آخرین ورود</th>
                    <th>فعال است؟</th>
                    <th>ادمین است؟</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        var adminId = @SiteSettings.Value.AdminId;
        var table;
        $(document).ready(function () {

            $('#PortalId').prepend($('<option></option>').val('').html('--'));
            $('#PortalId option:first-child').attr("selected", "selected");
            $('#LanguageDiv').remove();

            table = $('#usersTable').DataTable({
                language: {
                    "url": "/statics/Datatable.Persian.json"
                },
                ordering: false,
                paging: true,
                searching: true,
                processing: true,
                serverSide: true,
                stateSave: true,
                stateDuration: 0,
                searchDelay: null,
                ajax: {
                    url: '/manage/users/list/',
                    dataSrc: 'data',
                    type: "POST",
                    data: function (d) {
                        d.portalId = $('#PortalId').val();
                    }
                },
                columnDefs: [
                    {
                        "width": "10%",
                        "targets": 0,
                        "data": null,
                        "className": "text-center align-middle",
                        "render": function (data, type, row, meta) {
                            if (!data.portalId) {
                                return '<span>' + data.displayName + '</span>';
                            }
                            return '<span>' + data.displayName + ' (پرتال: ' + data.portalId + ')</span>';
                        }
                    },
                    {
                        "targets": 1,
                        "width": "15%",
                        "className": "align-middle",
                        "data": "email",
                        "render": function (data, type, row, meta) {
                            return '<a href="mailto:' + data + '">' + data + '</a>';
                        }
                    },
                    {
                        "width": "8%",
                        "targets": 2,
                        "className": "align-middle",
                        "data": "username",
                        "render": function (data, type, row, meta) {
                            return '<span>' + data + '</span>';
                        }
                    },
                    {
                        "width": "25%",
                        "targets": 3,
                        "className": "text-center align-middle",
                        "data": null,
                        "render": function (data, type, row, meta) {
                            if (!data.lastIp) {
                                return '<span>' + data.lastLogInDate + '</span>';
                            }
                            return '<span>' + data.lastLogInDate + '</span> | <span>آی پی: ' + data.lastIp + '</span>';
                        }
                    },
                    {
                        "width": "5%",
                        "targets": 4,
                        "className": "text-center align-middle",
                        "data": "isActive",
                        "render": function (data, type, row, meta) {
                            if (data) {
                                return '<span>بله</span>';
                            }
                            return '<span>خیر</span>';
                        }
                    },
                    {
                        "width": "5%",
                        "targets": 5,
                        "className": "text-center align-middle",
                        "data": "isAdmin",
                        "render": function (data, type, row, meta) {
                            if (data) {
                                return '<span>بله</span>';
                            }
                            return '<span>خیر</span>';
                        }
                    },
                    {
                        "width": "8%",
                        "targets": 6,
                        "className": "text-center align-middle",
                        "data": "id",
                        "render": function (data, type, row, meta) {
                            if (data == adminId) {
                                return '<a href="/manage/users/update/' + data + '/" title="ویرایش"><i class="fa fa-edit fa-lg"></i></a>';
                            }
                            else {
                                return '<a href="/manage/users/update/' + data + '/" title="ویرایش"><i class="fa fa-edit fa-lg"></i></a>&nbsp|&nbsp<a href="/manage/users/resetpassword/' + data + '/" title="تغییر رمز عبور"><i class="fas fa-key fa-lg"></i></a>&nbsp|&nbsp;<a href="#" data-role="delete-user" title="حذف" data-id="' + data + '"><i class="far fa-trash-alt fa-lg"></i></a>';
                            }
                        }
                    }]
            });

            $('#usersTable tbody').on('click', 'a[data-role="delete-user"]', function () {
                var row = table.row($(this).parents('tr'));
                var data = row.data();

                swal.fire({
                    title: 'آیا از انجام این کار اطمینان دارید؟',
                    text: "این عملیات غیرقابل بازگشت می باشد!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'بله!',
                    cancelButtonText: 'خیر',
                    focusCancel: true,
                    focusConfirm: false
                }).then((result) => {
                    if (result.value) {
                        axios.post('/manage/users/delete/' + data.id + '/')
                            .then(function (response) {
                                row.remove().draw();
                                swal.fire({
                                    title: 'انجام شد!',
                                    text: response.data,
                                    type: 'success',
                                    confirmButtonText: 'بستن',
                                });
                            })
                            .catch(function (error) {
                                swal.fire({
                                    title: 'خطا!',
                                    text: 'عملیات با خطا مواجه گشت.',
                                    type: 'error',
                                    confirmButtonText: 'بستن',
                                });
                            });
                    }
                })
            });

            $('#PortalId').on('change', function () {
                table.ajax.reload(null, false); // user paging is not reset on reload
            });
        });
    </script>
}
