@{
    ViewData["Title"] = "مدیریت مطالب";
    Layout = "~/Areas/Manage/Views/_Layout.cshtml";
}

<div class="m-3">
    <a class="btn btn-primary" role="button" href="/manage/content/add/">ایجاد مطلب جدید</a>
</div>

@if (TempData["IsOk"] != null && (bool)TempData["IsOk"] == true)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <div>عملیات با موفقیت انجام شد.</div>
    </div>
}

<div class="alert alert-info" role="alert">
    جهت جستجوی مطالب بر اساس کد مطلب، ابتدا <strong dir="ltr">@@id</strong> را در کادر جستجو تایپ کرده و بعد از آن کد مطلب را وارد نمائید. به عنوان مثال: <strong dir="ltr">@@id 293</strong>
</div>

<div class="alert alert-info" role="alert">
    توجه داشته باشید که در صورت نیاز، سایز تصویر صفحه می بایست حداکثر @ContentManagement.Infrastructure.Constants.ContentImageWidthSize در @ContentManagement.Infrastructure.Constants.ContentImageHeightSize پیکسل باشد.
</div>

<div class="card">
    <div class="card-header">
        مطالب
    </div>
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="col-md-9">@await Component.InvokeAsync(nameof(PortalsAndLanguages))</div>
                <div class="col-md-3">
                    <label for="LinkType">نوع مطلب</label>
                    <select class="form-control" id="ContentType" name="ContentType" asp-items="@ViewBag.ContentTypes"></select>
                    <hr />
                </div>
            </div>
        </form>
        <table class="table table-bordered table-sm table-hover" id="contentsTable" style="width: 100%;">
            <thead class="thead-default">
                <tr>
                    <th>تصویر</th>
                    <th>عنوان</th>
                    <th>لینک مطلب</th>
                    <th>مطلب فعال است؟</th>
                    <th>مطلب برگزیده است؟</th>
                    <th>اولویت قرارگیری</th>
                    <th>تعداد مشاهده</th>
                    <th>اشتراک گذاری</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        var table;
        $(document).ready(function () {
            table = $('#contentsTable').DataTable({
                language: {
                    "url": "/statics/Datatable.Persian.json"
                },
                ordering: false,
                paging: true,
                searching: true,
                processing: true,
                serverSide: true,
                stateSave: true,
                stateDuration: 0,
                searchDelay: null,
                ajax: {
                    url: '/manage/content/list/',
                    dataSrc: 'data',
                    type: "POST",
                    data: function (d) {
                        d.portalId = $('#PortalId').val();
                        d.language = $('#Language').val();
                        d.contentType = $('#ContentType').val();
                    }
                },
                columnDefs: [
                    {
                        "width": "3%",
                        "targets": 0,
                        "data": "imagename",
                        "className": "text-center align-middle",
                        "render": function (data, type, row, meta) {
                            if (!data) {
                                return '<span class="text-muted">بدون تصویر</span>';
                            }

                            var contentImagePath = $('#js-global-info').data('contentImagePath');
                            return '<a title="مشاهده تصویر" target="_blank" href="' + contentImagePath + data + '"><img src="' + contentImagePath + data + '?width=100&height=50&rmode=max" /></a>';
                        }
                    },
                    {
                        "targets": 1,
                        "className": "align-middle",
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return '<strong>' + data.title + '</strong><br/><span dir="rtl" class="badge badge-light">[تاریخ ایجاد: ' + data.jPublishDate +']</span>';
                        }
                    },
                    {
                        "width": "9%",
                        "targets": 2,
                        "className": "align-middle",
                        "data": 'contentLink',
                        "render": function (data, type, row, meta) {
                            return '<a target="_blank" href="' + persianJs(data).decodeURL() + '">لینک مطلب</a> <button type="button" class="btn clipboardjs btn-outline-info btn-sm" title="کپی!" data-clipboard-text="' + persianJs(data).decodeURL() + '"><img src="/statics/clippy.svg" width="16" alt="کپی!"></button>';
                        }
                    },
                    {
                        "width": "10%",
                        "targets": 3,
                        "className": "text-center align-middle",
                        "data": "isActive",
                        "render": function (data, type, row, meta) {
                            if (data) {
                                return '<span>بله</span>';
                            }
                            return '<span>خیر</span>';
                        }
                    },
                    {
                        "width": "11%",
                        "targets": 4,
                        "className": "text-center align-middle",
                        "data": "isFavorite",
                        "render": function (data, type, row, meta) {
                            if (data) {
                                return '<span>بله</span>';
                            }
                            return '<span>خیر</span>';
                        }
                    },
                    {
                        "width": "7%",
                        "targets": 5,
                        "className": "text-center align-middle",
                        "data": "priority",
                        "render": function (data, type, row, meta) {
                            if (data) {
                                return '<span>' + data + '</span>';
                            }
                            return '';
                        }
                    },
                    {
                        "width": "5%",
                        "targets": 6,
                        "className": "text-center align-middle",
                        "data": "viewCount",
                        "render": function (data, type, row, meta) {
                            return '<span>' + data + ' بار</span>';
                        }
                    },
                    {
                        "width": "8%",
                        "targets": 7,
                        "className": "text-center align-middle",
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return '<a class="pr-1" href="#" onclick="window.open(\'https://www.facebook.com/sharer/sharer.php?u=' + persianJs(data.contentLink).decodeURL() + '&title=' + data.title + '","popUpWindow","height=550,width=550,left=350,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes\'); return false;" title="اشتراک گذاری در فیسبوک"><i class="fab fa-facebook"></i></a>' +
                                   '<a class="pr-1" href="#" onclick="window.open("http://twitter.com/share?text=' + data.title + '&url=' + persianJs(data.contentLink.replace("content/details", "c")).decodeURL() + '&hashtags=ajaums,دانشگاه_علوم_پزشکی_ارتش","popUpWindow","height=550,width=550,left=350,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes"); return false;" title="اشتراک گذاری در توییتر"><i class="fab fa-twitter"></i></a>' +
                                   '<a class="pr-1" href="#" onclick="window.open("https://www.linkedin.com/shareArticle?mini=true&url=' + persianJs(data.contentLink).decodeURL() + '&title=' + data.title + '&source=ajaums.ac.ir","popUpWindow","height=550,width=550,left=350,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes"); return false;" title="اشتراک گذاری لینکداین"><i class="fab fa-linkedin-in"></i></a>' +
                                   '<a class="pr-1" href="https://telegram.me/share/url?url=' + persianJs(data.contentLink).decodeURL() + '" target="_blank" title="اشتراک گذاری در تلگرام"><i class="fab fa-telegram"></i></a>';
                        }
                    },
                    {
                        "width": "8%",
                        "targets": 8,
                        "className": "text-center align-middle",
                        "data": "id",
                        "render": function (data, type, row, meta) {
                            return '<a href="/manage/content/update/' + data + '/" title="ویرایش"><i class="fa fa-edit fa-lg"></i></a>&nbsp|&nbsp;<a href="/manage/contentgallery/?cid=' + data + '" target="_blank" data-role="content-gallery" title="گالری" data-id="' + data + '"><i class="far fa-images fa-lg"></i></a>&nbsp;|&nbsp;<a href="#" data-role="delete-content" title="حذف" data-id="' + data + '"><i class="far fa-trash-alt fa-lg"></i></a>';
                        }
                    }]
            });

            $('#contentsTable tbody').on('click', 'a[data-role="delete-content"]', function () {
                var row = table.row($(this).parents('tr'));
                var data = row.data();

                swal({
                    title: 'آیا از انجام این کار اطمینان دارید؟',
                    text: "این عملیات غیرقابل بازگشت می باشد!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'بله!',
                    cancelButtonText: 'خیر',
                    focusCancel: true,
                    focusConfirm: false
                }).then((result) => {
                    if (result.value) {
                        axios.post('/manage/content/delete/' + data.id + '/')
                            .then(function (response) {
                                row.remove().draw();
                                swal({
                                    title: 'انجام شد!',
                                    text: response.data,
                                    type: 'success',
                                    confirmButtonText: 'بستن',
                                });
                            })
                            .catch(function (error) {
                                swal({
                                    title: 'خطا!',
                                    text: 'عملیات با خطا مواجه گشت.',
                                    type: 'error',
                                    confirmButtonText: 'بستن',
                                });
                            });
                    }
                })
            });

            $('#PortalId, #Language, #ContentType').on('change', function () {
                table.ajax.reload(null, false); // user paging is not reset on reload
            });

            var clipboard = new ClipboardJS('.clipboardjs');
            clipboard.on('success', function (e) {
                swal({
                    title: 'کپی شد!',
                    type: 'success',
                    //timer: 1000,
                    confirmButtonText: 'بستن',
                    position: 'top-end',
                    showConfirmButton: false
                });

                e.clearSelection();
            });
        });
    </script>
}
