@model ContentManagement.ViewModels.Areas.Manage.PortalsAndLanguagesViewModel

<div class="row">
    <div id="PortalDiv" class="col">
        <label asp-for="PortalId">پرتال</label>
        <select class="form-control" asp-for="PortalId" asp-items="Model.Portals"></select>
    </div>
    <div id="LanguageDiv" class="col">
        <label asp-for="Language">زبان</label>
        <select class="form-control" asp-for="Language" asp-items="Model.Languages"></select>
    </div>
</div>
<hr />