@model IEnumerable<ContentManagement.ViewModels.ContentGalleryViewModel>

<div id="content-gallery-progress" class="my-5">
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
</div>

<div id="content-gallery-container" style="display: none;" class="row justify-content-center my-5">
    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-5">

        @foreach (var item in Model)
        {
            if (!string.IsNullOrEmpty(item.Caption))
            {
                var lines = item.Caption.Split(System.Environment.NewLine);
                var title = lines.FirstOrDefault();
                var body = string.Join("<br />", lines.Skip(1));
                <div id="gallerycaption@(item.Id)" style="display: none;"><h4 asp-if="!string.IsNullOrEmpty(title)" style="font-weight: 900;">@title</h4><p asp-if="!string.IsNullOrEmpty(body)">@Html.Raw(body)</p></div>
            }
        }

        <div>

            <ul id="content-gallery-items">

                @foreach (var item in Model)
                {
                    if (string.IsNullOrEmpty(item.Caption))
                    {
                        <li data-thumb="/content/getgalleryimage/?name=@(item.Imagename)&w=100&h=50" data-src="/content/getgalleryimage/?name=@(item.Imagename)">
                            <img src="/content/getgalleryimage/?name=@(item.Imagename)&w=750&h=350" class="img-fluid" />
                        </li>
                    }
                    else
                    {
                        <li data-thumb="/content/getgalleryimage/?name=@(item.Imagename)&w=100&h=50" data-src="/content/getgalleryimage/?name=@(item.Imagename)" data-sub-html="#gallerycaption@(item.Id)">
                            <img src="/content/getgalleryimage/?name=@(item.Imagename)&w=750&h=350" alt="@item.Caption" title="@item.Caption" class="img-fluid" />
                        </li>
                    }
                }

            </ul>

        </div>

    </div>
</div>
