@{
    ViewData["Title"] = "مدیریت اسلایدها";
    Layout = "~/Areas/Manage/Views/_Layout.cshtml";
}

<div class="m-3">
    <a class="btn btn-primary" role="button" href="/manage/slide/add/">ایجاد اسلاید جدید</a>
</div>

@if (TempData["IsOk"] != null && (bool)TempData["IsOk"] == true)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <div>عملیات با موفقیت انجام شد.</div>
    </div>
}

<div class="alert alert-warning" role="alert">
    لطفاً سعی نمائید اسلایدهای قدیمی را حذف نمائید و تنها @SiteSettings.Value.PagesSize.SliderSize عدد از اسلایدهای مورد نیاز را جهت نمایش در هر پرتال حفظ نمائید.
</div>

<div class="alert alert-info" role="alert">
    توجه داشته باشید که سایز تصویر اسلاید می بایست @ContentManagement.Infrastructure.Constants.SlideWidthSize در @ContentManagement.Infrastructure.Constants.SlideHeightSize پیکسل باشد.
</div>

<div class="alert alert-info" role="alert">
    توجه داشته باشید که همواره @SiteSettings.Value.PagesSize.SliderSize عدد از آخرین اسلایدها در پرتال نمایش داده می شوند.<br />ترتیب انتخاب اسلایدها به این صورت می باشد که در ابتدا اسلایدهایی انتخاب می شوند که اولویت بیشتری دارند، و سپس جدیدترین اسلایدها انتخاب می شوند.
</div>

<div class="card">
    <div class="card-header">
        اسلایدها
    </div>
    <div class="card-body">
        <form>
            @await Component.InvokeAsync(nameof(PortalsAndLanguages))
        </form>
        <table class="table table-bordered table-sm table-hover" id="slidesTable" style="width: 100%;">
            <thead class="thead-default">
                <tr>
                    <th>تصویر</th>
                    <th>عنوان</th>
                    <th>نمایش در صفحه جدید؟</th>
                    <th>اولویت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        var table;
        $(document).ready(function () {
            table = $('#slidesTable').DataTable({
                language: {
                    "url": "/statics/Datatable.Persian.json"
                },
                ordering: false,
                paging: true,
                searching: true,
                processing: true,
                serverSide: true,
                searchDelay: null,
                ajax: {
                    url: '/manage/slide/list/',
                    dataSrc: 'data',
                    data: function (d) {
                        d.portalId = $('#PortalId').val();
                        d.language = $('#Language').val();
                    }
                },
                columnDefs: [
                    {
                        "targets": 1,
                        "className": "align-middle",
                        "data": null,
                        "render": function (data, type, row, meta) {
                            if (data.subTitle && data.url) {
                                if (data.isBlankUrlTarget)
                                    return '<a href="' + data.url + '" target="_blank" rel="noreferrer">' + data.title + '</a><hr><span class="text-muted">زیرعنوان: ' + data.subTitle + '</span>';
                                else
                                    return '<a href="' + data.url + '" rel="noreferrer">' + data.title + '</a><hr><span class="text-muted">زیرعنوان: ' + data.subTitle + '</span>';
                            }
                            else if (data.subTitle && !data.url) {
                                return '<span>' + data.title + '</span><hr><span class="text-muted">زیرعنوان: ' + data.subTitle + '</span>';
                            }
                            else if (!data.subTitle && data.url) {
                                if (data.isBlankUrlTarget)
                                    return '<a href="' + data.url + '" target="_blank" rel="noreferrer">' + data.title + '</a>';
                                else
                                    return '<a href="' + data.url + '" rel="noreferrer">' + data.title + '</a>';
                            }
                            else if (!data.subTitle && !data.url) {
                                return '<span>' + data.title + '</span>';
                            }
                        }
                    },
                    {
                        "width": "4%",
                        "targets": 0,
                        "data": "filename",
                        "className": "text-center align-middle",
                        "render": function (data, type, row, meta) {
                            var slidesPath = $('#js-global-info').data('slidesPath');
                            //slidesThumbnailSuffix = $('#js-global-info').data('slidesThumbnailSuffix'),
                            //thumpFilename = data.replace(/(\.[\w\d_-]+)$/i, slidesThumbnailSuffix + '$1');

                            return '<img src="' + slidesPath + data + '?width=50&height=50&rmode=min" />';
                        }
                    },
                    {
                        "width": "15%",
                        "targets": 2,
                        "className": "text-center align-middle",
                        "data": "isBlankUrlTarget",
                        "render": function (data, type, row, meta) {
                            if (data) {
                                return '<span>بله</span>';
                            }
                            return '<span>خیر</span>';
                        }
                    },
                    {
                        "width": "8%",
                        "targets": 3,
                        "className": "text-center align-middle",
                        "data": "priority",
                        "render": function (data, type, row, meta) {
                            if (data) {
                                return '<span>' + data + '</span>';
                            }
                            return '';
                        }
                    },
                    {
                        "width": "4%",
                        "targets": 4,
                        "className": "text-center align-middle",
                        "data": "id",
                        "render": function (data, type, row, meta) {
                            return '<a href="/manage/slide/update/' + data + '/" title="ویرایش"><i class="fa fa-edit fa-lg"></i></a>&nbsp|&nbsp;<a href="#" data-role="delete-slide" title="حذف" data-id="' + data + '"><i class="far fa-trash-alt fa-lg"></i></a>';
                        }
                    }]
            });

            $('#slidesTable tbody').on('click', 'a[data-role="delete-slide"]', function () {
                var row = table.row($(this).parents('tr'));
                var data = row.data();

                swal({
                    title: 'آیا از انجام این کار اطمینان دارید؟',
                    text: "این عملیات غیرقابل بازگشت می باشد!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'بله!',
                    cancelButtonText: 'خیر',
                    focusCancel: true,
                    focusConfirm: false
                }).then((result) => {
                    if (result.value) {
                        axios.post('/manage/slide/delete/' + data.id + '/')
                            .then(function (response) {
                                row.remove().draw();
                                swal({
                                    title: 'انجام شد!',
                                    text: response.data,
                                    type: 'success',
                                    confirmButtonText: 'بستن',
                                })
                            })
                            .catch(function (error) {
                                swal({
                                    title: 'خطا!',
                                    text: 'عملیات با خطا مواجه گشت.',
                                    type: 'error',
                                    confirmButtonText: 'بستن',
                                })
                            });
                    }
                })
            });

            $('#PortalId, #Language').on('change', function () {
                table.ajax.reload(null, false); // user paging is not reset on reload
            });
        });
    </script>
}
