body {
    background-color: #eeeff1;
}

::-moz-selection {
    background: rgba(87,184,0,.5); /* WebKit/Blink Browsers */
    color: #fff;
}

::selection {
    background: rgba(87,184,0,.5); /* WebKit/Blink Browsers */
    color: #fff;
}

::-moz-selection {
    background: rgba(87,184,0,.5); /* Gecko Browsers */
    color: #fff;
}

table.dataTable {
    border-spacing: 0;
}

.mdb-color.lighten-5 {
    background-color: #d0d6e2 !important;
}

.mdb-color.lighten-4 {
    background-color: #b1bace !important;
}

.mdb-color.lighten-3 {
    background-color: #929fba !important;
}

.mdb-color.lighten-2 {
    background-color: #7283a7 !important;
}

.mdb-color.lighten-1 {
    background-color: #59698d !important;
}

.mdb-color {
    background-color: #45526e !important;
}

.mdb-color-text {
    color: #45526e !important;
}

.rgba-mdb-color-slight {
    background-color: rgba(69, 82, 110, 0.1);
}

.rgba-mdb-color-light {
    background-color: rgba(69, 82, 110, 0.3);
}

.rgba-mdb-color-strong {
    background-color: rgba(69, 82, 110, 0.7);
}

.mdb-color.darken-1 {
    background-color: #3b465e !important;
}

.mdb-color.darken-2 {
    background-color: #2e3951 !important;
}

.mdb-color.darken-3 {
    background-color: #1c2a48 !important;
}

.mdb-color.darken-4 {
    background-color: #1c2331 !important;
}

.red.lighten-5 {
    background-color: #ffebee !important;
}

.red.lighten-4 {
    background-color: #ffcdd2 !important;
}

.red.lighten-3 {
    background-color: #ef9a9a !important;
}

.red.lighten-2 {
    background-color: #e57373 !important;
}

.red.lighten-1 {
    background-color: #ef5350 !important;
}

.red {
    background-color: #f44336 !important;
}

.red-text {
    color: #f44336 !important;
}

.rgba-red-slight {
    background-color: rgba(244, 67, 54, 0.1);
}

.rgba-red-light {
    background-color: rgba(244, 67, 54, 0.3);
}

.rgba-red-strong {
    background-color: rgba(244, 67, 54, 0.7);
}

.red.darken-1 {
    background-color: #e53935 !important;
}

.red.darken-2 {
    background-color: #d32f2f !important;
}

.red.darken-3 {
    background-color: #c62828 !important;
}

.red.darken-4 {
    background-color: #b71c1c !important;
}

.red.accent-1 {
    background-color: #ff8a80 !important;
}

.red.accent-2 {
    background-color: #ff5252 !important;
}

.red.accent-3 {
    background-color: #ff1744 !important;
}

.red.accent-4 {
    background-color: #d50000 !important;
}

.pink.lighten-5 {
    background-color: #fce4ec !important;
}

.pink.lighten-4 {
    background-color: #f8bbd0 !important;
}

.pink.lighten-3 {
    background-color: #f48fb1 !important;
}

.pink.lighten-2 {
    background-color: #f06292 !important;
}

.pink.lighten-1 {
    background-color: #ec407a !important;
}

.pink {
    background-color: #e91e63 !important;
}

.pink-text {
    color: #e91e63 !important;
}

.rgba-pink-slight {
    background-color: rgba(233, 30, 99, 0.1);
}

.rgba-pink-light {
    background-color: rgba(233, 30, 99, 0.3);
}

.rgba-pink-strong {
    background-color: rgba(233, 30, 99, 0.7);
}

.pink.darken-1 {
    background-color: #d81b60 !important;
}

.pink.darken-2 {
    background-color: #c2185b !important;
}

.pink.darken-3 {
    background-color: #ad1457 !important;
}

.pink.darken-4 {
    background-color: #880e4f !important;
}

.pink.accent-1 {
    background-color: #ff80ab !important;
}

.pink.accent-2 {
    background-color: #ff4081 !important;
}

.pink.accent-3 {
    background-color: #f50057 !important;
}

.pink.accent-4 {
    background-color: #c51162 !important;
}

.purple.lighten-5 {
    background-color: #f3e5f5 !important;
}

.purple.lighten-4 {
    background-color: #e1bee7 !important;
}

.purple.lighten-3 {
    background-color: #ce93d8 !important;
}

.purple.lighten-2 {
    background-color: #ba68c8 !important;
}

.purple.lighten-1 {
    background-color: #ab47bc !important;
}

.purple {
    background-color: #9c27b0 !important;
}

.purple-text {
    color: #9c27b0 !important;
}

.rgba-purple-slight {
    background-color: rgba(156, 39, 176, 0.1);
}

.rgba-purple-light {
    background-color: rgba(156, 39, 176, 0.3);
}

.rgba-purple-strong {
    background-color: rgba(156, 39, 176, 0.7);
}

.purple.darken-1 {
    background-color: #8e24aa !important;
}

.purple.darken-2 {
    background-color: #7b1fa2 !important;
}

.purple.darken-3 {
    background-color: #6a1b9a !important;
}

.purple.darken-4 {
    background-color: #4a148c !important;
}

.purple.accent-1 {
    background-color: #ea80fc !important;
}

.purple.accent-2 {
    background-color: #e040fb !important;
}

.purple.accent-3 {
    background-color: #d500f9 !important;
}

.purple.accent-4 {
    background-color: #aa00ff !important;
}

.deep-purple.lighten-5 {
    background-color: #ede7f6 !important;
}

.deep-purple.lighten-4 {
    background-color: #d1c4e9 !important;
}

.deep-purple.lighten-3 {
    background-color: #b39ddb !important;
}

.deep-purple.lighten-2 {
    background-color: #9575cd !important;
}

.deep-purple.lighten-1 {
    background-color: #7e57c2 !important;
}

.deep-purple {
    background-color: #673ab7 !important;
}

.deep-purple-text {
    color: #673ab7 !important;
}

.rgba-deep-purple-slight {
    background-color: rgba(103, 58, 183, 0.1);
}

.rgba-deep-purple-light {
    background-color: rgba(103, 58, 183, 0.3);
}

.rgba-deep-purple-strong {
    background-color: rgba(103, 58, 183, 0.7);
}

.deep-purple.darken-1 {
    background-color: #5e35b1 !important;
}

.deep-purple.darken-2 {
    background-color: #512da8 !important;
}

.deep-purple.darken-3 {
    background-color: #4527a0 !important;
}

.deep-purple.darken-4 {
    background-color: #311b92 !important;
}

.deep-purple.accent-1 {
    background-color: #b388ff !important;
}

.deep-purple.accent-2 {
    background-color: #7c4dff !important;
}

.deep-purple.accent-3 {
    background-color: #651fff !important;
}

.deep-purple.accent-4 {
    background-color: #6200ea !important;
}

.indigo.lighten-5 {
    background-color: #e8eaf6 !important;
}

.indigo.lighten-4 {
    background-color: #c5cae9 !important;
}

.indigo.lighten-3 {
    background-color: #9fa8da !important;
}

.indigo.lighten-2 {
    background-color: #7986cb !important;
}

.indigo.lighten-1 {
    background-color: #5c6bc0 !important;
}

.indigo {
    background-color: #3f51b5 !important;
}

.indigo-text {
    color: #3f51b5 !important;
}

.rgba-indigo-slight {
    background-color: rgba(63, 81, 181, 0.1);
}

.rgba-indigo-light {
    background-color: rgba(63, 81, 181, 0.3);
}

.rgba-indigo-strong {
    background-color: rgba(63, 81, 181, 0.7);
}

.indigo.darken-1 {
    background-color: #3949ab !important;
}

.indigo.darken-2 {
    background-color: #303f9f !important;
}

.indigo.darken-3 {
    background-color: #283593 !important;
}

.indigo.darken-4 {
    background-color: #1a237e !important;
}

.indigo.accent-1 {
    background-color: #8c9eff !important;
}

.indigo.accent-2 {
    background-color: #536dfe !important;
}

.indigo.accent-3 {
    background-color: #3d5afe !important;
}

.indigo.accent-4 {
    background-color: #304ffe !important;
}

.blue.lighten-5 {
    background-color: #e3f2fd !important;
}

.blue.lighten-4 {
    background-color: #bbdefb !important;
}

.blue.lighten-3 {
    background-color: #90caf9 !important;
}

.blue.lighten-2 {
    background-color: #64b5f6 !important;
}

.blue.lighten-1 {
    background-color: #42a5f5 !important;
}

.blue {
    background-color: #2196f3 !important;
}

.blue-text {
    color: #2196f3 !important;
}

.rgba-blue-slight {
    background-color: rgba(33, 150, 243, 0.1);
}

.rgba-blue-light {
    background-color: rgba(33, 150, 243, 0.3);
}

.rgba-blue-strong {
    background-color: rgba(33, 150, 243, 0.7);
}

.blue.darken-1 {
    background-color: #1e88e5 !important;
}

.blue.darken-2 {
    background-color: #1976d2 !important;
}

.blue.darken-3 {
    background-color: #1565c0 !important;
}

.blue.darken-4 {
    background-color: #0d47a1 !important;
}

.blue.accent-1 {
    background-color: #82b1ff !important;
}

.blue.accent-2 {
    background-color: #448aff !important;
}

.blue.accent-3 {
    background-color: #2979ff !important;
}

.blue.accent-4 {
    background-color: #2962ff !important;
}

.light-blue.lighten-5 {
    background-color: #e1f5fe !important;
}

.light-blue.lighten-4 {
    background-color: #b3e5fc !important;
}

.light-blue.lighten-3 {
    background-color: #81d4fa !important;
}

.light-blue.lighten-2 {
    background-color: #4fc3f7 !important;
}

.light-blue.lighten-1 {
    background-color: #29b6f6 !important;
}

.light-blue {
    background-color: #03a9f4 !important;
}

.light-blue-text {
    color: #03a9f4 !important;
}

.rgba-light-blue-slight {
    background-color: rgba(3, 169, 244, 0.1);
}

.rgba-light-blue-light {
    background-color: rgba(3, 169, 244, 0.3);
}

.rgba-light-blue-strong {
    background-color: rgba(3, 169, 244, 0.7);
}

.light-blue.darken-1 {
    background-color: #039be5 !important;
}

.light-blue.darken-2 {
    background-color: #0288d1 !important;
}

.light-blue.darken-3 {
    background-color: #0277bd !important;
}

.light-blue.darken-4 {
    background-color: #01579b !important;
}

.light-blue.accent-1 {
    background-color: #80d8ff !important;
}

.light-blue.accent-2 {
    background-color: #40c4ff !important;
}

.light-blue.accent-3 {
    background-color: #00b0ff !important;
}

.light-blue.accent-4 {
    background-color: #0091ea !important;
}

.cyan.lighten-5 {
    background-color: #e0f7fa !important;
}

.cyan.lighten-4 {
    background-color: #b2ebf2 !important;
}

.cyan.lighten-3 {
    background-color: #80deea !important;
}

.cyan.lighten-2 {
    background-color: #4dd0e1 !important;
}

.cyan.lighten-1 {
    background-color: #26c6da !important;
}

.cyan {
    background-color: #00bcd4 !important;
}

.cyan-text {
    color: #00bcd4 !important;
}

.rgba-cyan-slight {
    background-color: rgba(0, 188, 212, 0.1);
}

.rgba-cyan-light {
    background-color: rgba(0, 188, 212, 0.3);
}

.rgba-cyan-strong {
    background-color: rgba(0, 188, 212, 0.7);
}

.cyan.darken-1 {
    background-color: #00acc1 !important;
}

.cyan.darken-2 {
    background-color: #0097a7 !important;
}

.cyan.darken-3 {
    background-color: #00838f !important;
}

.cyan.darken-4 {
    background-color: #006064 !important;
}

.cyan.accent-1 {
    background-color: #84ffff !important;
}

.cyan.accent-2 {
    background-color: #18ffff !important;
}

.cyan.accent-3 {
    background-color: #00e5ff !important;
}

.cyan.accent-4 {
    background-color: #00b8d4 !important;
}

.teal.lighten-5 {
    background-color: #e0f2f1 !important;
}

.teal.lighten-4 {
    background-color: #b2dfdb !important;
}

.teal.lighten-3 {
    background-color: #80cbc4 !important;
}

.teal.lighten-2 {
    background-color: #4db6ac !important;
}

.teal.lighten-1 {
    background-color: #26a69a !important;
}

.teal {
    background-color: #009688 !important;
}

.teal-text {
    color: #009688 !important;
}

.rgba-teal-slight {
    background-color: rgba(0, 150, 136, 0.1);
}

.rgba-teal-light {
    background-color: rgba(0, 150, 136, 0.3);
}

.rgba-teal-strong {
    background-color: rgba(0, 150, 136, 0.7);
}

.teal.darken-1 {
    background-color: #00897b !important;
}

.teal.darken-2 {
    background-color: #00796b !important;
}

.teal.darken-3 {
    background-color: #00695c !important;
}

.teal.darken-4 {
    background-color: #004d40 !important;
}

.teal.accent-1 {
    background-color: #a7ffeb !important;
}

.teal.accent-2 {
    background-color: #64ffda !important;
}

.teal.accent-3 {
    background-color: #1de9b6 !important;
}

.teal.accent-4 {
    background-color: #00bfa5 !important;
}

.green.lighten-5 {
    background-color: #e8f5e9 !important;
}

.green.lighten-4 {
    background-color: #c8e6c9 !important;
}

.green.lighten-3 {
    background-color: #a5d6a7 !important;
}

.green.lighten-2 {
    background-color: #81c784 !important;
}

.green.lighten-1 {
    background-color: #66bb6a !important;
}

.green {
    background-color: #4caf50 !important;
}

.green-text {
    color: #4caf50 !important;
}

.rgba-green-slight {
    background-color: rgba(76, 175, 80, 0.1);
}

.rgba-green-light {
    background-color: rgba(76, 175, 80, 0.3);
}

.rgba-green-strong {
    background-color: rgba(76, 175, 80, 0.7);
}

.green.darken-1 {
    background-color: #43a047 !important;
}

.green.darken-2 {
    background-color: #388e3c !important;
}

.green.darken-3 {
    background-color: #2e7d32 !important;
}

.green.darken-4 {
    background-color: #1b5e20 !important;
}

.green.accent-1 {
    background-color: #b9f6ca !important;
}

.green.accent-2 {
    background-color: #69f0ae !important;
}

.green.accent-3 {
    background-color: #00e676 !important;
}

.green.accent-4 {
    background-color: #00c853 !important;
}

.light-green.lighten-5 {
    background-color: #f1f8e9 !important;
}

.light-green.lighten-4 {
    background-color: #dcedc8 !important;
}

.light-green.lighten-3 {
    background-color: #c5e1a5 !important;
}

.light-green.lighten-2 {
    background-color: #aed581 !important;
}

.light-green.lighten-1 {
    background-color: #9ccc65 !important;
}

.light-green {
    background-color: #8bc34a !important;
}

.light-green-text {
    color: #8bc34a !important;
}

.rgba-light-green-slight {
    background-color: rgba(139, 195, 74, 0.1);
}

.rgba-light-green-light {
    background-color: rgba(139, 195, 74, 0.3);
}

.rgba-light-green-strong {
    background-color: rgba(139, 195, 74, 0.7);
}

.light-green.darken-1 {
    background-color: #7cb342 !important;
}

.light-green.darken-2 {
    background-color: #689f38 !important;
}

.light-green.darken-3 {
    background-color: #558b2f !important;
}

.light-green.darken-4 {
    background-color: #33691e !important;
}

.light-green.accent-1 {
    background-color: #ccff90 !important;
}

.light-green.accent-2 {
    background-color: #b2ff59 !important;
}

.light-green.accent-3 {
    background-color: #76ff03 !important;
}

.light-green.accent-4 {
    background-color: #64dd17 !important;
}

.lime.lighten-5 {
    background-color: #f9fbe7 !important;
}

.lime.lighten-4 {
    background-color: #f0f4c3 !important;
}

.lime.lighten-3 {
    background-color: #e6ee9c !important;
}

.lime.lighten-2 {
    background-color: #dce775 !important;
}

.lime.lighten-1 {
    background-color: #d4e157 !important;
}

.lime {
    background-color: #cddc39 !important;
}

.lime-text {
    color: #cddc39 !important;
}

.rgba-lime-slight {
    background-color: rgba(205, 220, 57, 0.1);
}

.rgba-lime-light {
    background-color: rgba(205, 220, 57, 0.3);
}

.rgba-lime-strong {
    background-color: rgba(205, 220, 57, 0.7);
}

.lime.darken-1 {
    background-color: #c0ca33 !important;
}

.lime.darken-2 {
    background-color: #afb42b !important;
}

.lime.darken-3 {
    background-color: #9e9d24 !important;
}

.lime.darken-4 {
    background-color: #827717 !important;
}

.lime.accent-1 {
    background-color: #f4ff81 !important;
}

.lime.accent-2 {
    background-color: #eeff41 !important;
}

.lime.accent-3 {
    background-color: #c6ff00 !important;
}

.lime.accent-4 {
    background-color: #aeea00 !important;
}

.yellow.lighten-5 {
    background-color: #fffde7 !important;
}

.yellow.lighten-4 {
    background-color: #fff9c4 !important;
}

.yellow.lighten-3 {
    background-color: #fff59d !important;
}

.yellow.lighten-2 {
    background-color: #fff176 !important;
}

.yellow.lighten-1 {
    background-color: #ffee58 !important;
}

.yellow {
    background-color: #ffeb3b !important;
}

.yellow-text {
    color: #ffeb3b !important;
}

.rgba-yellow-slight {
    background-color: rgba(255, 235, 59, 0.1);
}

.rgba-yellow-light {
    background-color: rgba(255, 235, 59, 0.3);
}

.rgba-yellow-strong {
    background-color: rgba(255, 235, 59, 0.7);
}

.yellow.darken-1 {
    background-color: #fdd835 !important;
}

.yellow.darken-2 {
    background-color: #fbc02d !important;
}

.yellow.darken-3 {
    background-color: #f9a825 !important;
}

.yellow.darken-4 {
    background-color: #f57f17 !important;
}

.yellow.accent-1 {
    background-color: #ffff8d !important;
}

.yellow.accent-2 {
    background-color: #ffff00 !important;
}

.yellow.accent-3 {
    background-color: #ffea00 !important;
}

.yellow.accent-4 {
    background-color: #ffd600 !important;
}

.amber.lighten-5 {
    background-color: #fff8e1 !important;
}

.amber.lighten-4 {
    background-color: #ffecb3 !important;
}

.amber.lighten-3 {
    background-color: #ffe082 !important;
}

.amber.lighten-2 {
    background-color: #ffd54f !important;
}

.amber.lighten-1 {
    background-color: #ffca28 !important;
}

.amber {
    background-color: #ffc107 !important;
}

.amber-text {
    color: #ffc107 !important;
}

.rgba-amber-slight {
    background-color: rgba(255, 193, 7, 0.1);
}

.rgba-amber-light {
    background-color: rgba(255, 193, 7, 0.3);
}

.rgba-amber-strong {
    background-color: rgba(255, 193, 7, 0.7);
}

.amber.darken-1 {
    background-color: #ffb300 !important;
}

.amber.darken-2 {
    background-color: #ffa000 !important;
}

.amber.darken-3 {
    background-color: #ff8f00 !important;
}

.amber.darken-4 {
    background-color: #ff6f00 !important;
}

.amber.accent-1 {
    background-color: #ffe57f !important;
}

.amber.accent-2 {
    background-color: #ffd740 !important;
}

.amber.accent-3 {
    background-color: #ffc400 !important;
}

.amber.accent-4 {
    background-color: #ffab00 !important;
}

.orange.lighten-5 {
    background-color: #fff3e0 !important;
}

.orange.lighten-4 {
    background-color: #ffe0b2 !important;
}

.orange.lighten-3 {
    background-color: #ffcc80 !important;
}

.orange.lighten-2 {
    background-color: #ffb74d !important;
}

.orange.lighten-1 {
    background-color: #ffa726 !important;
}

.orange {
    background-color: #ff9800 !important;
}

.orange-text {
    color: #ff9800 !important;
}

.rgba-orange-slight {
    background-color: rgba(255, 152, 0, 0.1);
}

.rgba-orange-light {
    background-color: rgba(255, 152, 0, 0.3);
}

.rgba-orange-strong {
    background-color: rgba(255, 152, 0, 0.7);
}

.orange.darken-1 {
    background-color: #fb8c00 !important;
}

.orange.darken-2 {
    background-color: #f57c00 !important;
}

.orange.darken-3 {
    background-color: #ef6c00 !important;
}

.orange.darken-4 {
    background-color: #e65100 !important;
}

.orange.accent-1 {
    background-color: #ffd180 !important;
}

.orange.accent-2 {
    background-color: #ffab40 !important;
}

.orange.accent-3 {
    background-color: #ff9100 !important;
}

.orange.accent-4 {
    background-color: #ff6d00 !important;
}

.deep-orange.lighten-5 {
    background-color: #fbe9e7 !important;
}

.deep-orange.lighten-4 {
    background-color: #ffccbc !important;
}

.deep-orange.lighten-3 {
    background-color: #ffab91 !important;
}

.deep-orange.lighten-2 {
    background-color: #ff8a65 !important;
}

.deep-orange.lighten-1 {
    background-color: #ff7043 !important;
}

.deep-orange {
    background-color: #ff5722 !important;
}

.deep-orange-text {
    color: #ff5722 !important;
}

.rgba-deep-orange-slight {
    background-color: rgba(255, 87, 34, 0.1);
}

.rgba-deep-orange-light {
    background-color: rgba(255, 87, 34, 0.3);
}

.rgba-deep-orange-strong {
    background-color: rgba(255, 87, 34, 0.7);
}

.deep-orange.darken-1 {
    background-color: #f4511e !important;
}

.deep-orange.darken-2 {
    background-color: #e64a19 !important;
}

.deep-orange.darken-3 {
    background-color: #d84315 !important;
}

.deep-orange.darken-4 {
    background-color: #bf360c !important;
}

.deep-orange.accent-1 {
    background-color: #ff9e80 !important;
}

.deep-orange.accent-2 {
    background-color: #ff6e40 !important;
}

.deep-orange.accent-3 {
    background-color: #ff3d00 !important;
}

.deep-orange.accent-4 {
    background-color: #dd2c00 !important;
}

.brown.lighten-5 {
    background-color: #efebe9 !important;
}

.brown.lighten-4 {
    background-color: #d7ccc8 !important;
}

.brown.lighten-3 {
    background-color: #bcaaa4 !important;
}

.brown.lighten-2 {
    background-color: #a1887f !important;
}

.brown.lighten-1 {
    background-color: #8d6e63 !important;
}

.brown {
    background-color: #795548 !important;
}

.brown-text {
    color: #795548 !important;
}

.rgba-brown-slight {
    background-color: rgba(121, 85, 72, 0.1);
}

.rgba-brown-light {
    background-color: rgba(121, 85, 72, 0.3);
}

.rgba-brown-strong {
    background-color: rgba(121, 85, 72, 0.7);
}

.brown.darken-1 {
    background-color: #6d4c41 !important;
}

.brown.darken-2 {
    background-color: #5d4037 !important;
}

.brown.darken-3 {
    background-color: #4e342e !important;
}

.brown.darken-4 {
    background-color: #3e2723 !important;
}

.blue-grey.lighten-5 {
    background-color: #eceff1 !important;
}

.blue-grey.lighten-4 {
    background-color: #cfd8dc !important;
}

.blue-grey.lighten-3 {
    background-color: #b0bec5 !important;
}

.blue-grey.lighten-2 {
    background-color: #90a4ae !important;
}

.blue-grey.lighten-1 {
    background-color: #78909c !important;
}

.blue-grey {
    background-color: #607d8b !important;
}

.blue-grey-text {
    color: #607d8b !important;
}

.rgba-blue-grey-slight {
    background-color: rgba(96, 125, 139, 0.1);
}

.rgba-blue-grey-light {
    background-color: rgba(96, 125, 139, 0.3);
}

.rgba-blue-grey-strong {
    background-color: rgba(96, 125, 139, 0.7);
}

.blue-grey.darken-1 {
    background-color: #546e7a !important;
}

.blue-grey.darken-2 {
    background-color: #455a64 !important;
}

.blue-grey.darken-3 {
    background-color: #37474f !important;
}

.blue-grey.darken-4 {
    background-color: #263238 !important;
}

.grey.lighten-5 {
    background-color: #fafafa !important;
}

.grey.lighten-4 {
    background-color: #f5f5f5 !important;
}

.grey.lighten-3 {
    background-color: #eeeeee !important;
}

.grey.lighten-2 {
    background-color: #e0e0e0 !important;
}

.grey.lighten-1 {
    background-color: #bdbdbd !important;
}

.grey {
    background-color: #9e9e9e !important;
}

.grey-text {
    color: #9e9e9e !important;
}

.rgba-grey-slight {
    background-color: rgba(158, 158, 158, 0.1);
}

.rgba-grey-light {
    background-color: rgba(158, 158, 158, 0.3);
}

.rgba-grey-strong {
    background-color: rgba(158, 158, 158, 0.7);
}

.grey.darken-1 {
    background-color: #757575 !important;
}

.grey.darken-2 {
    background-color: #616161 !important;
}

.grey.darken-3 {
    background-color: #424242 !important;
}

.grey.darken-4 {
    background-color: #212121 !important;
}

.black {
    background-color: #000 !important;
}

.black-text, .btn.btn-link {
    color: #000 !important;
}

.rgba-black-slight {
    background-color: rgba(0, 0, 0, 0.1);
}

.rgba-black-light {
    background-color: rgba(0, 0, 0, 0.3);
}

.rgba-black-strong {
    background-color: rgba(0, 0, 0, 0.7);
}

.white {
    background-color: #fff !important;
}

.white-text {
    color: #fff !important;
}

.rgba-white-slight {
    background-color: rgba(255, 255, 255, 0.1);
}

.rgba-white-light {
    background-color: rgba(255, 255, 255, 0.3);
}

.rgba-white-strong {
    background-color: rgba(255, 255, 255, 0.7);
}

.rgba-stylish-slight {
    background-color: rgba(62, 69, 81, 0.1);
}

.rgba-stylish-light {
    background-color: rgba(62, 69, 81, 0.3);
}

.rgba-stylish-strong {
    background-color: rgba(62, 69, 81, 0.7);
}

.dark-grey-text {
    color: #4f4f4f !important;
}

    .dark-grey-text:hover, .dark-grey-text:focus {
        color: #4f4f4f !important;
    }

.primary-color {
    background-color: #4285f4 !important;
}

.primary-color-dark {
    background-color: #0d47a1 !important;
}

.secondary-color {
    background-color: #aa66cc !important;
}

.secondary-color-dark {
    background-color: #9933cc !important;
}

.default-color {
    background-color: #2bbbad !important;
}

.default-color-dark {
    background-color: #00695c !important;
}

.info-color {
    background-color: #33b5e5 !important;
}

.info-color-dark {
    background-color: #0099cc !important;
}

.success-color {
    background-color: #00c851 !important;
}

.success-color-dark {
    background-color: #007e33 !important;
}

.warning-color {
    background-color: #ffbb33 !important;
}

.warning-color-dark {
    background-color: #ff8800 !important;
}

.danger-color {
    background-color: #ff3547 !important;
}

.danger-color-dark {
    background-color: #cc0000 !important;
}

.elegant-color {
    background-color: #2e2e2e !important;
}

.elegant-color-dark {
    background-color: #212121 !important;
}

.stylish-color {
    background-color: #4b515d !important;
}

.stylish-color-dark {
    background-color: #3e4551 !important;
}

.unique-color {
    background-color: #3f729b !important;
}

.unique-color-dark {
    background-color: #1c2331 !important;
}

.special-color {
    background-color: #37474f !important;
}

.special-color-dark {
    background-color: #263238 !important;
}

/*** Global ***/
.z-depth-0 {
    box-shadow: none !important;
}

.z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.z-depth-2, .cascading-admin-card .admin-up .fa {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}


.hoverable {
    box-shadow: none;
    transition: all 0.55s ease-in-out;
}

    .hoverable:hover {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.55s ease-in-out;
    }

.hr-light {
    border-top: 1px solid #fff;
}

.hr-dark {
    border-top: 1px solid #666;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    font-weight: 400;
}

    .card[class*="border"] {
        border: 1px solid #9e9e9e;
        box-shadow: none;
    }

    .card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
        font-weight: 400;
    }

    .card .card-body .card-title a {
        transition: 0.2s ease-in-out;
    }

        .card .card-body .card-title a:hover {
            transition: 0.2s ease-in-out;
        }

    .card .card-body .card-text {
        color: #747373;
        font-size: 0.9rem;
        font-weight: 400;
    }

    .card.card-image {
        background-size: cover;
        background-position: center;
        width: 100%;
    }

        .card.card-image [class*="rgba-"] {
            border-radius: 0.25rem;
        }

    .card.card-cascade .view {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
    }

        .card.card-cascade .view.gradient-card-header {
            padding: 1.6rem 1rem;
            text-align: center;
        }

            .card.card-cascade .view.gradient-card-header .card-header-title {
                font-weight: 500;
            }

            .card.card-cascade .view.gradient-card-header .btn-floating {
                background-color: rgba(255, 255, 255, 0.2);
            }

    .card.card-cascade.wider {
        box-shadow: none;
        background-color: transparent;
    }

        .card.card-cascade.wider .view {
            z-index: 2;
        }

        .card.card-cascade.wider .card-body {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            margin-left: 4%;
            margin-right: 4%;
            background: #fff;
            z-index: 1;
            border-radius: 0 0 0.25rem 0.25rem;
        }

        .card.card-cascade.wider.reverse .card-body {
            z-index: 3;
            margin-top: -1rem;
            border-radius: 0.25rem;
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        }

    .card.card-cascade.narrower {
        margin-top: 1.25rem;
    }

        .card.card-cascade.narrower .view {
            margin-left: 4%;
            margin-right: 4%;
            margin-top: -1.25rem;
        }

    .card.card-cascade.panel-cascade .view {
        text-align: center;
        color: #fff;
    }

    .card.card-cascade.panel-cascade .list-group .list-group-item {
        margin-bottom: 0;
        border: 0;
        border-bottom: 1px solid #eee;
        color: #495057;
    }

        .card.card-cascade.panel-cascade .list-group .list-group-item:hover {
            background-color: #eee;
        }

    .card .btn-action {
        margin-top: -1.44rem;
        margin-bottom: -1.44rem;
    }

    .card .activator {
        position: absolute;
        right: 0;
        font-size: 1.2rem;
    }

    .card .card-reveal {
        position: absolute;
        width: 100%;
        overflow-y: auto;
        top: 100%;
        height: 100%;
        z-index: 1;
        display: none;
    }

        .card .card-reveal .content {
            position: relative;
        }

    .card.ovf-hidden {
        overflow: hidden;
    }

    .card .card-share {
        position: relative;
    }

        .card .card-share .social-reveal {
            position: absolute;
            top: -1.44rem;
            right: 1.88rem;
            visibility: hidden;
            width: auto;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);
            transition: -webkit-transform 0.35s ease;
            transition: transform 0.35s ease;
            transition: transform 0.35s ease, -webkit-transform 0.35s ease;
        }

        .card .card-share .social-reveal-active {
            z-index: 11;
            visibility: visible;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-transform: translateX(-48px);
            transform: translateX(-48px);
            transition: -webkit-transform 0.35s ease;
            transition: transform 0.35s ease;
            transition: transform 0.35s ease, -webkit-transform 0.35s ease;
        }

    .card .card-reveal .card-title,
    .card-wrapper .card-rotating .card-title {
        cursor: pointer;
    }

        .card .card-reveal .card-title i,
        .card-wrapper .card-rotating .card-title i {
            color: #9e9e9e;
            position: absolute;
            right: 0.63rem;
        }

.card-wrapper {
    margin: 0;
    min-height: 500px;
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
    /* Front side */
    /* Card with rotate on click */
}

    .card-wrapper .face {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .card-wrapper .card-up {
        height: 200px;
        overflow: hidden;
    }

        .card-wrapper .card-up img {
            vertical-align: middle;
        }

    .card-wrapper .avatar {
        display: block;
        margin-top: -60px;
        overflow: hidden;
        width: 120px;
    }

        .card-wrapper .avatar img {
            border: 5px solid #fff;
            background: none repeat scroll 0 0 #fff;
            width: 100%;
        }

    .card-wrapper .card-rotating {
        position: absolute;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

        .card-wrapper .card-rotating .content {
            position: relative;
        }

        .card-wrapper .card-rotating.effect__click.flipped .front {
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }

        .card-wrapper .card-rotating.effect__click.flipped .back {
            -webkit-transform: rotateY(0);
            transform: rotateY(0);
        }

    .card-wrapper .front,
    .card-wrapper .back {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        border-radius: 0.25rem;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: 1s;
    }

    .card-wrapper .back {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

.testimonial-card .card-up {
    overflow: hidden;
    height: 120px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
    border-radius: 50%;
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
}

    .testimonial-card .avatar img {
        width: 100%;
    }

.testimonial-card .card-body {
    text-align: center;
}

.naked-card h5 {
    margin-top: 1.2rem;
}

.naked-card li p {
    color: #757575;
}

    .naked-card li p strong {
        color: #616161;
    }

.accordion .card {
    box-shadow: none;
    border-bottom: 1px solid #eeeeee;
    border-radius: 0;
}

    .accordion .card .card-header {
        border-bottom: 0;
        padding: 1rem 1.5rem;
        background: transparent;
    }

        .accordion .card .card-header .card-title {
            font-weight: 400;
        }

        .accordion .card .card-header a {
            transition: ease-in-out 0.3s;
        }

            .accordion .card .card-header a:not(.collapsed) .rotate-icon {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }

    .accordion .card .fa-angle-down {
        float: right;
    }

    .accordion .card .card-body {
        font-size: 0.9rem;
        line-height: 1.7;
        font-weight: 300;
        color: #626262;
    }

.collection-card .stripe {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    text-align: center;
    padding: 1.2rem;
}

    .collection-card .stripe.dark {
        background-color: rgba(0, 0, 0, 0.7);
    }

        .collection-card .stripe.dark a p {
            color: #eeeeee;
        }

    .collection-card .stripe.light {
        background-color: rgba(255, 255, 255, 0.7);
    }

        .collection-card .stripe.light a p {
            color: #424242;
        }

    .collection-card .stripe a p {
        padding: 0;
        margin: 0;
        letter-spacing: 0.25rem;
    }

.card.card-ecommerce .card-footer {
    background-color: transparent;
}

    .card.card-ecommerce .card-footer .discount {
        color: #9e9e9e;
    }

    .card.card-ecommerce .card-footer a {
        color: #757575;
        transition: 0.4s;
    }

        .card.card-ecommerce .card-footer a:hover {
            color: #d50000;
            transition: 0.4s;
        }

        .card.card-ecommerce .card-footer a.active {
            color: #d50000;
        }

.card .card-circle {
    border: 2px solid #e0e0e0;
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
}

    .card .card-circle .fa {
        font-size: 4rem;
    }

.cascading-admin-card {
    margin-top: 20px;
}

    .cascading-admin-card .admin-up {
        margin-left: 4%;
        margin-right: 4%;
        margin-top: -20px;
    }

        .cascading-admin-card .admin-up .fa {
            padding: 1.7rem;
            font-size: 2rem;
            color: #fff;
            text-align: left;
            margin-right: 1rem;
            border-radius: 3px;
        }

        .cascading-admin-card .admin-up .data {
            float: right;
            margin-top: 2rem;
            text-align: right;
        }

            .cascading-admin-card .admin-up .data p {
                color: #999999;
                font-size: 12px;
            }

.classic-admin-card .card-body {
    color: #fff;
    margin-bottom: 0;
    padding: 0.9rem;
}

    .classic-admin-card .card-body p {
        font-size: 13px;
        opacity: 0.7;
        margin-bottom: 0;
    }

    .classic-admin-card .card-body h4 {
        margin-top: 10px;
    }

    .classic-admin-card .card-body .float-right .fa {
        font-size: 3rem;
        opacity: 0.5;
    }

.classic-admin-card .progress {
    margin: 0;
    opacity: 0.7;
}

.cascading-admin-card {
    margin-top: 20px;
}

    .cascading-admin-card .admin-up {
        margin-left: 4%;
        margin-right: 4%;
        margin-top: -20px;
    }

        .cascading-admin-card .admin-up .fa {
            padding: 1.7rem;
            font-size: 2rem;
            color: #fff;
            text-align: left;
            margin-right: 1rem;
            border-radius: 3px;
        }

        .cascading-admin-card .admin-up .data {
            float: right;
            margin-top: 2rem;
            text-align: right;
        }

            .cascading-admin-card .admin-up .data p {
                color: #999999;
                font-size: 12px;
            }

.classic-admin-card .card-body {
    color: #fff;
    margin-bottom: 0;
    padding: 0.9rem;
}

    .classic-admin-card .card-body p {
        font-size: 13px;
        opacity: 0.7;
        margin-bottom: 0;
    }

    .classic-admin-card .card-body h4 {
        margin-top: 10px;
    }

    .classic-admin-card .card-body .float-right .fa {
        font-size: 3rem;
        opacity: 0.5;
    }

.classic-admin-card .progress {
    margin: 0;
    opacity: 0.7;
}

.card.card-cascade .view.gradient-card-header {
    padding: 1rem 1rem;
}

.font-small {
    font-size: 0.8rem;
}

.card.card-cascade .view {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #eceff1;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

    .chip img {
        float: left;
        margin: 0 8px 0 -12px;
        height: 32px;
        width: 32px;
        border-radius: 50%;
    }

    .chip .close {
        cursor: pointer;
        float: right;
        font-size: 16px;
        line-height: 32px;
        padding-left: 8px;
        transition: all 0.1s linear;
    }

.chips {
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    margin-bottom: 30px;
    min-height: 45px;
    padding-bottom: 1rem;
    transition: all .3s;
}

    .chips.focus {
        border-bottom: 1px solid #4285f4;
        box-shadow: 0 1px 0 0 #4285f4;
    }

    .chips:hover {
        cursor: text;
    }

    .chips .tag.selected {
        border-bottom: 1px solid #4285f4;
        color: #fff;
    }

    .chips .input {
        display: inline-block;
        background: none;
        border: 0;
        outline: 0;
        padding: 0 !important;
        width: 120px !important;
        color: rgba(0, 0, 0, 0.6);
        font-size: 13px;
        font-weight: 500;
        height: 32px;
        margin-right: 20px;
        line-height: 32px;
    }

        .chips .input:focus {
            border: 0 !important;
            box-shadow: none !important;
        }

.rounded {
    border-radius: .25rem !important
}

.rounded-top {
    border-top-left-radius: .25rem !important;
    border-top-right-radius: .25rem !important
}

.rounded-right {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important
}

.rounded-bottom {
    border-bottom-right-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important
}

.rounded-left {
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important
}

.rounded-circle {
    border-radius: 50% !important
}

.rounded-0 {
    border-radius: 0 !important
}

.border-warning {
    border-color: #ff8800 !important;
}

.border-success {
    border-color: #00c851 !important;
}

.border-info {
    border-color: #33b5e5 !important;
}

.border-default {
    border-color: #2bbbad !important;
}

.border-secondary {
    border-color: #aa66cc !important;
}

.border-dark {
    border-color: #212121 !important;
}

.border-light {
    border-color: #e0e0e0 !important;
}

.header-logo {
    width: 5rem;
    padding: 0.3rem;
}

.flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}

    .flag-icon:before {
        content: "\00a0";
    }

    .flag-icon.flag-icon-squared {
        width: 1em;
    }

.flag-icon-ir {
    background-image: url(/images/flags/4x3/ir.svg);
}

    .flag-icon-ir.flag-icon-squared {
        background-image: url(/images/flags/1x1/ir.svg);
    }

.flag-icon-gb {
    background-image: url(/images/flags/4x3/gb.svg);
}

    .flag-icon-gb.flag-icon-squared {
        background-image: url(/images/flags/1x1/gb.svg);
    }

.topbar-nav {
    background: #212529;
    font-size: 0.9rem;
}

    .topbar-nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        background: #212529;
    }

    .topbar-nav .metismenu {
        display: flex;
        flex-direction: column;
    }

        .topbar-nav .metismenu > li {
            flex: 1 1 0%;
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .topbar-nav .metismenu a {
            position: relative;
            display: block;
            padding: 15px;
            color: #adb5bd;
            outline-width: 0;
            transition: all .3s ease-out;
        }


            .topbar-nav .metismenu a:hover,
            .topbar-nav .metismenu a:focus,
            .topbar-nav .metismenu a:active {
                color: #fff; /*#f8f9fa*/
                text-decoration: none;
                background: #ffa200; /*#0b7285*/
            }

@media (min-width: 992px) {
    .topbar-nav .metismenu {
        flex-direction: row;
    }

        .topbar-nav .metismenu > li {
            flex-direction: column;
        }

            .topbar-nav .metismenu > li > ul {
                position: absolute;
                top: 100%;
                min-width: 100%;
                z-index: 1001;
            }

    .topbar-nav.is-hoverable .metismenu > li > ul {
        height: auto !important;
    }

    .topbar-nav.is-hoverable .metismenu > li:hover > ul {
        display: block;
    }

    .topbar-nav.is-hoverable .metismenu > li:hover > a.has-arrow:after {
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}

.nounderline {
    text-decoration: none !important;
}

.lightslider-link-item {
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

#essential-links:last-child,
#essential-links:first-child {
    margin-left: 0;
    margin-right: 0;
}

.lightslider-link-item a {
    text-decoration: none !important;
}

.lSSlideWrapper .lSPrev,
.lSSlideWrapper .lSNext {
    background-color: #333;
    border-radius: 50%;
}

.nav-tabs .nav-item .nav-link {
    border-top-width: 2px !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #ffa200 #dee2e6 #fff !important;
    border-top-width: 2px !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #fec458 #e9ecef #dee2e6 !important;
    border-top-width: 2px !important;
}

.nav-tabs .nav-item.show .nav-link:focus,
.nav-tabs .nav-item.show .nav-link:hover,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:focus {
    border-color: #ffa200 #dee2e6 #fff !important;
}

.nav-tabs .nav-link.disabled:hover,
.nav-tabs .nav-link.disabled:focus {
    cursor: not-allowed !important;
    border-color: transparent !important;
    background-color: transparent !important;
    border-top-width: 1px !important;
}

.card.hoverable {
    transition: 0.4s;
}

    .card.hoverable:hover {
        box-shadow: 0 3px 20px rgba(128,128,128,0.23), 0 3px 30px rgba(0,0,0,0.16);
    }

.card--oil:after {
    background-image: radial-gradient(to bottom, rgba(106, 122, 135, 0.5), rgba(0, 0, 0, 0) 70%);
}

.card--tree:after {
    background-image: radial-gradient(to bottom, rgba(106, 191, 96, 0.5), rgba(0, 0, 0, 0) 70%);
}

.card--water:after {
    background-image: radial-gradient(to bottom, rgba(96, 203, 231, 0.5), rgba(0, 0, 0, 0) 70%);
}

.social {
    background-image: url('/images/social.png');
    background-repeat: no-repeat;
    display: inline-block;
}

    .social.aparat {
        width: 29px;
        height: 29px;
        background-position: -10px -10px;
    }

    .social.bale {
        width: 29px;
        height: 29px;
        background-position: -10px -49px;
    }

    .social.bisphone {
        width: 29px;
        height: 29px;
        background-position: -10px -88px;
    }

    .social.eitaa {
        width: 29px;
        height: 29px;
        background-position: -10px -127px;
    }

    .social.facebook {
        width: 29px;
        height: 29px;
        background-position: -10px -166px;
    }

    .social.gap {
        width: 29px;
        height: 29px;
        background-position: -10px -205px;
    }

    .social.googleplus {
        width: 29px;
        height: 29px;
        background-position: -10px -244px;
    }

    .social.igap {
        width: 29px;
        height: 29px;
        background-position: -10px -283px;
    }

    .social.instagram {
        width: 29px;
        height: 29px;
        background-position: -10px -322px;
    }

    .social.soroush {
        width: 29px;
        height: 29px;
        background-position: -10px -361px;
    }

    .social.telegram {
        width: 29px;
        height: 29px;
        background-position: -10px -400px;
    }

    .social.twitter {
        width: 29px;
        height: 29px;
        background-position: -10px -439px;
    }

    .social.youtube {
        width: 29px;
        height: 29px;
        background-position: -10px -478px;
    }

.bordered-link {
    border: 2px solid rgba(255, 162, 30, 0.40);
    border-radius: 3px;
    margin-bottom: 0.5rem;
    transition: 0.4s;
}

    .bordered-link:hover {
        /*border-color: rgba(255, 162, 30, 0.40);*/
        border: 2px solid #ffa21e;
    }

.content-container {
    border: 2px solid rgba(0, 0, 0, 0.12);
    padding: 5px 10px;
}

.content-container:hover {
    border-color:#757575;
}
    .content-container a {
        width: -webkit-max-content !important;
        width: -moz-max-content !important;
        width: max-content !important;
        text-decoration: none !important;
    }

.w-max-content {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
}
