body {
    direction: ltr;
    background-color: #eeeff1;
}

/*bootstrap callout*/
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
}

    .bd-callout h4 {
        margin-top: 0;
        margin-bottom: .25rem
    }

    .bd-callout p:last-child {
        margin-bottom: 0
    }

    .bd-callout code {
        border-radius: .25rem
    }

    .bd-callout + .bd-callout {
        margin-top: -.25rem
    }

.bd-callout-info {
    border-left-color: #5bc0de
}

    .bd-callout-info h4 {
        color: #5bc0de
    }

.bd-callout-warning {
    border-left-color: #f0ad4e
}

    .bd-callout-warning h4 {
        color: #f0ad4e
    }

.bd-callout-danger {
    border-left-color: #d9534f
}

    .bd-callout-danger h4 {
        color: #d9534f
    }

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.fdb-block {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    padding: 100px 0;
    color: #444444;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color: #FFFFFF;
}

    .fdb-block.fdb-viewport {
        min-height: calc(100% - 2 * 100px);
    }

        .fdb-block.fdb-viewport .container {
            min-height: calc(100% - 2 * 100px);
        }

    .fdb-block.fdb-image-bg {
        color: #f2f2f2;
    }

    .fdb-block .fdb-box {
        background: #FFFFFF;
        color: #444444;
        padding: 60px 40px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        overflow: hidden;
    }

    .fdb-block .fdb-touch {
        border-top: solid 5px #528bff;
    }

    .fdb-block h1, .fdb-block .text-h1 {
        font-size: 2.75rem;
        margin-bottom: .5em;
        margin-top: .3em;
        font-weight: 400;
    }

    .fdb-block h2, .fdb-block .text-h2 {
        font-size: 2rem;
        margin-bottom: .5em;
        margin-top: .3em;
        font-weight: 400;
    }

    .fdb-block h3, .fdb-block .text-h3 {
        font-size: 1.125rem;
        margin-bottom: .5em;
        margin-top: .3em;
        font-weight: 400;
    }

    .fdb-block h4, .fdb-block .text-h4 {
        font-size: 1rem;
        margin-bottom: .5em;
        margin-top: .3em;
        font-weight: 400;
    }

    .fdb-block h5, .fdb-block .text-h5 {
        font-size: 0.9rem;
        margin-bottom: .5em;
        margin-top: .3em;
        font-weight: 400;
    }

    .fdb-block h6, .fdb-block .text-h6 {
        font-size: 0.75rem;
        margin-bottom: .5em;
        margin-top: .3em;
        font-weight: 400;
    }

    .fdb-block .font-weight-light {
        font-weight: 300;
    }

    .fdb-block img {
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    }

        .fdb-block img + p, .fdb-block img + h3, .fdb-block img + h4 {
            margin-top: 20px;
        }

        .fdb-block img + h1, .fdb-block img + h2 {
            margin-top: 40px;
        }

    .fdb-block .col-fill-left {
        width: 50%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        z-index: 1;
    }

        .fdb-block .col-fill-left + div {
            position: relative;
            z-index: 2;
        }

    .fdb-block .col-fill-right {
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        z-index: 1;
    }

        .fdb-block .col-fill-right + div {
            position: relative;
            z-index: 2;
        }

    .fdb-block img.fdb-icon {
        width: auto;
        width: 60px;
    }

    .fdb-block img.fdb-icon-round {
        width: auto;
        width: 60px;
        border-radius: 60px;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
    }

    .fdb-block .row-100 {
        height: 100px;
        width: 100%;
    }

    .fdb-block .row-50 {
        height: 50px;
        width: 100%;
    }

    .fdb-block .row-70 {
        height: 70px;
        width: 100%;
    }

footer {
    padding: 30px 0 !important;
}

    footer.footer-large {
        padding: 50px 0 !important;
    }

    footer .flex-column .nav-link {
        padding-left: 0;
    }

    footer.fdb-bg-dark {
        background: #2d313c;
        color: #f2f2f2;
    }

        footer.fdb-bg-dark a {
            color: #f2f2f2;
        }

    footer a {
        color: #444444;
    }

.fdb-bg-dark {
    background-color: #2d313c;
    color: #f2f2f2;
}

.purple-gradient {
    background: -webkit-linear-gradient(50deg, #ff6ec4, #7873f5) !important;
    background: -o-linear-gradient(50deg, #ff6ec4, #7873f5) !important;
    background: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
}

.peach-gradient {
    background: -webkit-linear-gradient(50deg, #FFD86F, #FC6262) !important;
    background: -o-linear-gradient(50deg, #FFD86F, #FC6262) !important;
    background: linear-gradient(40deg, #FFD86F, #FC6262) !important;
}

.aqua-gradient {
    background: -webkit-linear-gradient(50deg, #2096ff, #05ffa3) !important;
    background: -o-linear-gradient(50deg, #2096ff, #05ffa3) !important;
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}

.blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f) !important;
    background: -o-linear-gradient(50deg, #45cafc, #303f9f) !important;
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}

.content-item {
    border-left: 4px solid #ffc107 !important;
    padding-left: 0.5rem !important;
}

.content-title {
    font-size: 1.1rem !important;
    font-weight: 700 !important;
}

.breadcrumb {
    background-color: #fff !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.breadcrumb li + li {
    padding-left: 0.5rem;
}

    .breadcrumb li + li::before {
        display: inline-block;
        padding-right: 0.5rem;
        color: #6c757d;
        content: "\\";
    }

    .breadcrumb li + li:hover::before {
        text-decoration: underline;
    }

    .breadcrumb li + li:hover::before {
        text-decoration: none;
    }

@media print {
    body * {
        visibility: hidden;
    }

    #section-to-print, #section-to-print * {
        visibility: visible;
    }

    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
