shabnam {
    font-family: Shabnam;
}

vazir {
    font-family: Vazir;
}

html {
    font-family: Vazir, sans-serif;
}

body {
    direction: rtl;
    font-family: Vazir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.tooltip {
    font-family: Vazir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.popover {
    font-family: Vazir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Shabnam;
}

input,
button,
select,
optgroup,
textarea {
    font-family: Shabnam;
}*/

/*ul#side-navbar {
    overflow-y: scroll;
}

@media (min-width: 992px) {
    .content-wrapper {
        margin-right: 260px;
    }
}

@media (min-width: 992px) {
    body.sidenav-toggled .content-wrapper {
        margin-right: 60px;
    }
}

body.sidenav-toggled .navbar-sidenav {
    width: 72px;
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
    width: 60px !important;
}

body.sidenav-toggled .navbar-sidenav .nav-item,
body.sidenav-toggled .navbar-sidenav .nav-link {
    width: 60px !important;
}*/

/*bootstrap callout*/
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-right-width: .25rem;
    border-radius: .25rem
}

    .bd-callout h4 {
        margin-top: 0;
        margin-bottom: .25rem
    }

    .bd-callout p:last-child {
        margin-bottom: 0
    }

    .bd-callout code {
        border-radius: .25rem
    }

    .bd-callout + .bd-callout {
        margin-top: -.25rem
    }

.bd-callout-info {
    border-right-color: #5bc0de
}

    .bd-callout-info h4 {
        color: #5bc0de
    }

.bd-callout-warning {
    border-right-color: #f0ad4e
}

    .bd-callout-warning h4 {
        color: #f0ad4e
    }

.bd-callout-danger {
    border-right-color: #d9534f
}

    .bd-callout-danger h4 {
        color: #d9534f
    }

.card-body-icon {
    top: -15px !important;
    left: -5px !important;
    font-size: 4.75rem !important;
}
