@{ 
    Layout = null;
}
@model ContentManagement.Controllers.LoginModel

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ورود به سیستم</title>
    <link rel="shortcut icon" href="~/favicon.png" />
    <link rel="stylesheet" type="text/css" href="~/css/common.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/statics/login.css">
    <noscript>
        <meta http-equiv="refresh" content="0;url=/statics/NoScript.html" />
    </noscript>
</head>
<body class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <img src="~/statics/logo.png">
                    </div>
                    @{ await Html.RenderPartialAsync(MVC.Shared.Views._CustomValidationSummary); }
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">ورود به سیستم</h4>
                            <form method="POST" autocomplete="off" asp-controller="login" asp-action="index" asp-route-returnurl="@ViewData["ReturnUrl"]">

                                <div class="form-group">
                                    <label for="email">پست الکترونیک</label>

                                    <input id="email" asp-for="Email" type="email" class="form-control" dir="ltr" required autofocus>
                                </div>

                                <div class="form-group">
                                    <label for="password">
                                        کلمه عبور
                                        @*<a href="forgot.html" class="float-right">
                                Forgot Password?
                            </a>*@
                                    </label>
                                    <input id="password" asp-for="Password" type="password" class="form-control" dir="ltr" required data-eye>
                                </div>

                                @*<div class="form-group">
                        <label>
                            <input type="checkbox" name="remember"> Remember Me
                        </label>
                    </div>*@

                                <div class="form-group no-margin">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        ورود به سیستم
                                    </button>
                                </div>
                                @*<div class="margin-top20 text-center">
                        Don't have an account? <a href="register.html">Create One</a>
                    </div>*@
                            </form>
                        </div>
                    </div>
                    @*<div class="footer">
            Copyright &copy; 2017 &mdash; Your Company
        </div>*@
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/common.min.js"></script>
    <script src="~/statics/login.js"></script>
</body>
</html>