@using ContentManagement.ViewComponents

@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "The home page of my website";
}

@await Component.InvokeAsync(nameof(Slider))

@await Component.InvokeAsync(nameof(EssentialLinks))

@await Component.InvokeAsync(nameof(QuickLinks))

<container asp-if="!RequestService.IsSubPortal()">@await Component.InvokeAsync(nameof(SubPortalsContents))</container>

@await Component.InvokeAsync(nameof(Links))

@await Component.InvokeAsync(nameof(ExternalLinks))

@*<div class="row no-gutters">
        <div class="col-sm-12 col-md-8 pr-sm-0 pr-md-3">
            <div class="card">
                <div class="card-header">
                    @SharedLocalizer["Essential Links"]
                </div>
                <div class="card-body">
                    <!-- Ajax Tabs Above -->
                    <div id="tab-x" class='tabs-x tabs-above tab-bordered tabs-krajee'>
                        <ul id="myTab-tabs-above" class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-tabs-above" href="#home-tabs-above" role="tab" data-toggle="tab" data-url="/site/fetch-tab?tab=1" aria-controls="home" aria-expanded="true">
                                    <i class="fa fa-home"></i> Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-tabs-above" href="#profile-tabs-above" role="tab-kv" data-toggle="tab" data-url="/" aria-controls="profile">
                                    <i class="fa fa-user"></i>
                                    Profileddd ddd sdsad sd fsdfsd fsdf
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="myTabDrop-tabs-above" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-list-alt"></i> Menu
                                </a>
                                <div class="dropdown-menu" role="menu" aria-labelledby="myTabDrop-tabs-above">
                                    <a class="dropdown-item" id="dropdown-tab-tabs-above-1" href="#dropdown-tabs-above-1" tabindex="-1" role="tab" data-toggle="tab" data-url="/site/fetch-tab?tab=3" aria-controls="dropdown-tabs-above-1">
                                        <i class="fa fa-chevron-right"></i> Option 1
                                    </a>
                                    <a class="dropdown-item" id="dropdown-tab-tabs-above-2" href="#dropdown-tabs-above-2" tabindex="-1" role="tab" data-toggle="tab" data-url="/site/fetch-tab?tab=4" aria-controls="dropdown-tabs-above-2">
                                        <i class="fa fa-chevron-right"></i> Option 2
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link disabled" id="disabled-tab-tabs-above" href="#disabled-tabs-above"><i class="fa fa-knight"></i> Disabled</a></li>
                        </ul>
                        <div id="myTabContent-tabs-above" class="tab-content">
                            <div class="tab-pane fade show active" id="home-tabs-above" role="tabpanel" aria-labelledby="home-tab-tabs-above"><p>...</p></div>
                            <div class="tab-pane fade" id="profile-tabs-above" role="tabpanel" aria-labelledby="profile-tabs-above"><p>...</p></div>
                            <div class="tab-pane fade" id="dropdown-tabs-above-1" role="tabpanel" aria-labelledby="dropdown-tab-tabs-above-1"><p>...</p></div>
                            <div class="tab-pane fade" id="dropdown-tabs-above-2" role="tabpanel" aria-labelledby="dropdown-tab-tabs-above-2"><p>...</p></div>
                            <div class="tab-pane fade" id="disabled-tabs-above" role="tabpanel" aria-labelledby="disabled-tab-tabs-above">Disabled Content</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card card--tree">
                <div class="card-header">
                    @SharedLocalizer["Essential Links"]
                </div>
                <div class="card-body">
                    <!-- Ajax Tabs Above -->
                    <div id="tab-x" class='tabs-x tabs-above tab-bordered tabs-krajee'>
                        <ul id="myTab-tabs-above" class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-tabs-above" href="#home-tabs-above" role="tab" data-toggle="tab" data-url="/site/fetch-tab?tab=1" aria-controls="home" aria-expanded="true">
                                    <i class="fa fa-home"></i> Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-tabs-above" href="#profile-tabs-above" role="tab-kv" data-toggle="tab" data-url="/" aria-controls="profile">
                                    <i class="fa fa-user"></i>
                                    Profileddd ddd sdsad sd fsdfsd fsdf
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="myTabDrop-tabs-above" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-list-alt"></i> Menu
                                </a>
                                <div class="dropdown-menu" role="menu" aria-labelledby="myTabDrop-tabs-above">
                                    <a class="dropdown-item" id="dropdown-tab-tabs-above-1" href="#dropdown-tabs-above-1" tabindex="-1" role="tab" data-toggle="tab" data-url="/site/fetch-tab?tab=3" aria-controls="dropdown-tabs-above-1">
                                        <i class="fa fa-chevron-right"></i> Option 1
                                    </a>
                                    <a class="dropdown-item" id="dropdown-tab-tabs-above-2" href="#dropdown-tabs-above-2" tabindex="-1" role="tab" data-toggle="tab" data-url="/site/fetch-tab?tab=4" aria-controls="dropdown-tabs-above-2">
                                        <i class="fa fa-chevron-right"></i> Option 2
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link disabled" id="disabled-tab-tabs-above" href="#disabled-tabs-above"><i class="fa fa-knight"></i> Disabled</a></li>
                        </ul>
                        <div id="myTabContent-tabs-above" class="tab-content">
                            <div class="tab-pane fade show active" id="home-tabs-above" role="tabpanel" aria-labelledby="home-tab-tabs-above"><p>...</p></div>
                            <div class="tab-pane fade" id="profile-tabs-above" role="tabpanel" aria-labelledby="profile-tabs-above"><p>...</p></div>
                            <div class="tab-pane fade" id="dropdown-tabs-above-1" role="tabpanel" aria-labelledby="dropdown-tab-tabs-above-1"><p>...</p></div>
                            <div class="tab-pane fade" id="dropdown-tabs-above-2" role="tabpanel" aria-labelledby="dropdown-tab-tabs-above-2"><p>...</p></div>
                            <div class="tab-pane fade" id="disabled-tabs-above" role="tabpanel" aria-labelledby="disabled-tab-tabs-above">Disabled Content</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr class="hr-light" />*@
