@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "The home page of my website";
}

<h1>شسیشسی سشی </h1>

@section Scripts {
    @*Insert any script tags for this page here*@
}
@if (CurrentLanguage().Language == Language.FA)
{
    <p condition-class-active="true" condition-class-active_aa="true" condition-class-active-bb="true">FA</p>
}
else
{
    <p>EN</p>
}
