@{
    ViewData["Title"] = "مدیریت لینک ها";
    Layout = "~/Areas/Manage/Views/_Layout.cshtml";
    var sectionId = ViewContext.HttpContext.Request.Query["sid"];
}

<div class="m-3">
    <a class="btn btn-primary" role="button" href="/manage/footerlink/add/?sid=@sectionId">ایجاد لینک جدید</a>
</div>

@if (TempData["IsOk"] != null && (bool)TempData["IsOk"] == true)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">×</a>
        <div>عملیات با موفقیت انجام شد.</div>
    </div>
}

<div class="alert alert-info" role="alert">
    توجه داشته باشید که به ازای هر بخش(ستون) در فوتر، تنها @SiteSettings.Value.PagesSize.FooterLinksSize لینک که دارای اولویت بالاتر و یا جدیدتر می باشند، نمایش داده می شود.
</div>

<div class="card">
    <div class="card-header">
        لینک ها
    </div>
    <div class="card-body">
        <table class="table table-bordered table-sm table-hover" id="footerLinksTable" style="width: 100%;">
            <thead class="thead-default">
                <tr>
                    <th>لینک</th>
                    <th>نمایش در صفحه جدید؟</th>
                    <th>اولویت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        var table;
        $(document).ready(function () {
            table = $('#footerLinksTable').DataTable({
                language: {
                    "url": "/statics/Datatable.Persian.json"
                },
                ordering: false,
                paging: false,
                searching: false,
                processing: true,
                serverSide: true,
                stateSave: true,
                stateDuration: 0,
                searchDelay: null,
                ajax: {
                    url: '/manage/footerlink/list/?sid=@sectionId',
                    dataSrc: 'data',
                    type: "POST",
                    data: function (d) {
                        d.portalId = $('#PortalId').val();
                        d.language = $('#Language').val();
                    }
                },
                columnDefs: [
                    {
                        "targets": 0,
                        "className": "align-middle",
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return '<a href="' + data.url + '" target="_blank" rel="noreferrer">' + data.text + '</a>';
                        }
                    },
                    {
                        "width": "14%",
                        "targets": 1,
                        "className": "text-center align-middle",
                        "data": "isBlankUrlTarget",
                        "render": function (data, type, row, meta) {
                            if (data) {
                                return '<span>بله</span>';
                            }
                            return '<span>خیر</span>';
                        }
                    },
                    {
                        "width": "11%",
                        "targets": 2,
                        "className": "text-center align-middle",
                        "data": "priority",
                        "render": function (data, type, row, meta) {
                            if (data) {
                                return '<span>' + data + '</span>';
                            }
                            return '';
                        }
                    },
                    {
                        "width": "4%",
                        "targets": 3,
                        "className": "text-center align-middle",
                        "data": "id",
                        "render": function (data, type, row, meta) {
                            return '<a href="/manage/footerlink/update/' + data + '/?sid=@sectionId" title="ویرایش"><i class="fa fa-edit fa-lg"></i></a>&nbsp|&nbsp;<a href="#" data-role="delete-link" title="حذف" data-id="' + data + '"><i class="far fa-trash-alt fa-lg"></i></a>';
                        }
                    }]
            });

            $('#footerLinksTable tbody').on('click', 'a[data-role="delete-link"]', function () {
                var row = table.row($(this).parents('tr'));
                var data = row.data();

                swal({
                    title: 'آیا از انجام این کار اطمینان دارید؟',
                    text: "این عملیات غیرقابل بازگشت می باشد!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'بله!',
                    cancelButtonText: 'خیر',
                    focusCancel: true,
                    focusConfirm: false
                }).then((result) => {
                    if (result.value) {
                        axios.post('/manage/footerlink/delete/' + data.id + '/?sid=@sectionId')
                            .then(function (response) {
                                row.remove().draw();
                                swal({
                                    title: 'انجام شد!',
                                    text: response.data,
                                    type: 'success',
                                    confirmButtonText: 'بستن'
                                });
                            })
                            .catch(function (error) {
                                swal({
                                    title: 'خطا!',
                                    text: 'عملیات با خطا مواجه گشت.',
                                    type: 'error',
                                    confirmButtonText: 'بستن'
                                });
                            });
                    }
                });
            });
        });
    </script>
}
